---
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { Button } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Turn your first deposit into a strong start`,
  it: "",
  tr: "",
  ro: "",
  ar: `حوّل أول إيداع إلى انطلاقة قوية`,
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const paras: TranslationsType[] = [
  {
    en: `At ${componentProps.brandObj.name}, we reward your first step into the trading world. Make your first deposit and receive a 50% trading bonus - giving you more margin, more flexibility, and more potential opportunities. Whether you’re planning to trade a certain asset or to diversify across multiple markets, this bonus helps you start with confidence and strength.`,
    it: "",
    tr: "",
    ro: "",
    ar: `في FXORO Global، نكافئ أول خطوة لك في عالم التداول. قم بأول إيداع واحصل على مكافأة تداول بنسبة 50% - مما يمنحك هامشاً أكبر، ومرونة أعلى، وفرصاً محتملة أكثر. سواء كنت تخطط لتداول أصل معين أو للتنويع بين عدة أسواق، هذه المكافأة تساعدك على البدء بثقة وقوة.`,
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  {
    en: `Activate your 50% bonus* today!`,
    it: "",
    tr: "",
    ro: "",
    ar: `فعّل مكافأتك البالغة 50%* اليوم`,
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
];

const button: TranslationsType = {
  en: `Claim your bonus`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `احصل على مكافأتك`,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const customDisclaimer: TranslationsType = {
  en: `*This is a non-withdrawable trading bonus. <a target="_blank" class="underline underline-offset-2" href="https://global.fxoro.com/en/get-50-more-trading-power-2/">Terms and Conditions</a> Apply.`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `*هذه مكافأة تداول غير قابلة للسحب. <a target="_blank" class="underline underline-offset-2" href="https://global.fxoro.com/ar/get-50-more-trading-power-2/">تطبق الشروط</a> والأحكام.`,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section id="section1" class="section1 py-section">
  <div class="space-y-section container">
    <h2
      class="text-heading2 font-black uppercase"
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 5,
          })
        : title[componentProps.lang]}
    />

    {
      paras.map((para) => (
        <p
          class="text-para-lead text-balance"
          set:html={
            componentProps.features?.includes(Features.showcase)
              ? showcase({
                  words: 30,
                })
              : para[componentProps.lang]
          }
        />
      ))
    }

    <ButtonDisclaimer
      componentProps={componentProps}
      disclaimer={{
        active: true,
        text: componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 10,
            })
          : customDisclaimer[componentProps.lang],
      }}
    >
      <Button
        variant={"default"}
        className={"js-modal-trigger w-full cursor-pointer p-6 font-black uppercase"}
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 2,
            })
          : button[componentProps.lang]}
      />
    </ButtonDisclaimer>
  </div>
</section>
