---
import type { InfoSection } from "@/types/InfoSection";
import type { ComponentProps } from "../../../../../globals/types/component-props";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const infoSection5: InfoSection = {
  title: {
    en: "Data Security",
    it: "Sicurezza dei Dati",
    tr: "Veri Güvenliği",
    ro: "Securitatea Datelor",
    ar: "أمان البيانات",
    de: "Datensicherheit",
    es: "Seguridad de Datos",
    sv: "Datasäkerhet",
    pt: "Segurança de Dados",
    fi: "Tietoturva",
    pl: "Bezpieczeństwo danych",
    hu: "Adatbiztonság",
    th: "ความปลอดภัยของข้อมูล",
    ms: "Keselamatan Data",
    vi: "Bảo mật Dữ liệu",
  },
  paras: [
    {
      en: "We implement appropriate security measures to protect your personal information.",
      it: "Adottiamo misure di sicurezza adeguate per proteggere le tue informazioni personali.",
      tr: "Kişisel bilgilerinizi korumak için uygun güvenlik önlemleri uyguluyoruz.",
      ro: "Implementăm măsuri de securitate adecvate pentru a proteja informațiile tale personale.",
      ar: "نقوم بتنفيذ تدابير أمنية مناسبة لحماية معلوماتك الشخصية.",
      de: "Wir setzen geeignete Sicherheitsmaßnahmen ein, um Ihre persönlichen Daten zu schützen.",
      es: "Implementamos medidas de seguridad adecuadas para proteger tu información personal.",
      sv: "Vi genomför lämpliga säkerhetsåtgärder för att skydda din personliga information.",
      pt: "Implementamos medidas de segurança apropriadas para proteger suas informações pessoais.",
      fi: "Otamme käyttöön asianmukaisia turvatoimia suojellaksemme henkilökohtaisia tietojasi.",
      pl: "Wdrażamy odpowiednie środki bezpieczeństwa w celu ochrony Twoich danych osobowych.",
      hu: "Megfelelő biztonsági intézkedéseket alkalmazunk a személyes adatok védelme érdekében.",
      th: "เราใช้มาตรการรักษาความปลอดภัยที่เหมาะสมเพื่อปกป้องข้อมูลส่วนบุคคลของคุณ",
      ms: "Kami melaksanakan langkah-langkah keselamatan yang sesuai untuk melindungi maklumat peribadi anda.",
      vi: "Chúng tôi thực hiện các biện pháp bảo mật phù hợp để bảo vệ thông tin cá nhân của bạn.",
    },
  ],
};
---

<section id="section5">
  <div class="container space-y-4">
    <h2
      set:html={infoSection5.title[componentProps.lang]}
      class="text-lg font-medium"
    />
    {
      infoSection5.paras?.map((para) => (
        <p set:html={para[componentProps.lang]} class="mb-2" />
      ))
    }
  </div>
</section>
