---
import type { InfoSection } from "@/types/InfoSection";
import type { ComponentProps } from "../../../../../globals/types/component-props";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const infoSection6: InfoSection = {
  title: {
    en: "Changes to This Privacy Policy",
    it: "Modifiche a Questa Informativa sulla Privacy",
    tr: "Bu Gizlilik Politikasındaki Değişiklikler",
    ro: "Modificări ale acestei Politici de Confidențialitate",
    ar: "التغييرات على سياسة الخصوصية هذه",
    de: "Änderungen dieser Datenschutzrichtlinie",
    es: "Cambios en esta Política de Privacidad",
    sv: "Ändringar i denna Integritetspolicy",
    pt: "Alterações a Esta Política de Privacidade",
    fi: "Muutokset tähän Tietosuojakäytäntöön",
    pl: "Zmiany w niniejszej Polityce Prywatności",
    hu: "Változások a Jelen Adatvédelmi Szabályzatban",
    th: "การเปลี่ยนแปลงนโยบายความเป็นส่วนตัวนี้",
    ms: "Perubahan kepada Dasar Privasi Ini",
    vi: "Những thay đổi đối với Chính sách Bảo mật này",
  },
  paras: [
    {
      en: `We may update this Privacy Policy from time to time. Any changes will be posted on this page, and we encourage you to review it periodically.`,
      it: "Possiamo aggiornare questa Informativa sulla Privacy di tanto in tanto. Eventuali modifiche saranno pubblicate su questa pagina, e ti invitiamo a consultarla periodicamente.",
      tr: "Bu Gizlilik Politikasını zaman zaman güncelleyebiliriz. Herhangi bir değişiklik bu sayfada yayınlanacak ve periyodik olarak gözden geçirmenizi tavsiye ederiz.",
      ro: "Este posibil să actualizăm această Politică de Confidențialitate din când în când. Orice modificări vor fi postate pe această pagină și vă încurajăm să o consultați periodic.",
      ar: "قد نقوم بتحديث سياسة الخصوصية هذه من وقت لآخر. سيتم نشر أي تغييرات على هذه الصفحة، ونشجعك على مراجعتها بشكل دوري.",
      de: "Wir können diese Datenschutzrichtlinie von Zeit zu Zeit aktualisieren. Alle Änderungen werden auf dieser Seite veröffentlicht, und wir empfehlen Ihnen, sie regelmäßig zu überprüfen.",
      es: "Podemos actualizar esta Política de Privacidad de vez en cuando. Cualquier cambio se publicará en esta página y te animamos a revisarla periódicamente.",
      sv: "Vi kan komma att uppdatera denna Integritetspolicy från tid till annan. Eventuella ändringar kommer att publiceras på denna sida och vi uppmuntrar dig att granska den regelbundet.",
      pt: "Podemos atualizar esta Política de Privacidade de tempos em tempos. Quaisquer alterações serão publicadas nesta página, e incentivamos você a revisá-la periodicamente.",
      fi: "Saatamme päivittää tätä Tietosuojakäytäntöä ajoittain. Kaikki muutokset julkaistaan tällä sivulla, ja kehotamme sinua tarkistamaan sen säännöllisesti.",
      pl: "Możemy od czasu do czasu aktualizować niniejszą Politykę Prywatności. Wszelkie zmiany zostaną opublikowane na tej stronie i zachęcamy do regularnego zapoznawania się z nimi.",
      hu: "Időről időre frissíthetjük jelen Adatvédelmi Szabályzatot. Minden változást ezen az oldalon teszünk közzé, és javasoljuk, hogy rendszeresen ellenőrizze azt.",
      th: "เราอาจมีการปรับปรุงนโยบายความเป็นส่วนตัวนี้เป็นครั้งคราว การเปลี่ยนแปลงใด ๆ จะถูกโพสต์บนหน้านี้ และเราขอแนะนำให้คุณตรวจสอบเป็นระยะ ๆ",
      ms: "Kami mungkin akan mengemas kini Dasar Privasi ini dari semasa ke semasa. Sebarang perubahan akan disiarkan di halaman ini, dan kami menggalakkan anda untuk menyemaknya secara berkala.",
      vi: "Chúng tôi có thể cập nhật Chính sách Bảo mật này theo thời gian. Mọi thay đổi sẽ được đăng trên trang này và chúng tôi khuyến khích bạn kiểm tra nó định kỳ.",
    },
  ],
};
---

<section id="section6">
  <div class="container space-y-4">
    <h2
      set:html={infoSection6.title[componentProps.lang]}
      class="text-lg font-medium"
    />
    {
      infoSection6.paras?.map((para) => (
        <p set:html={para[componentProps.lang]} class="mb-2" />
      ))
    }
  </div>
</section>
