---
import { icon2 } from "@/constants/icon2";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { icon1 } from "../constants/icon1";
import { icon3 } from "../constants/icon3";
import type { Bullet } from "../types/bullet";
import { Features } from "../../../../globals/types/enums";
import { showcase } from "../../../../globals/features/showcase/text";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const bullets: Bullet[] = [
  {
    title: {
      en: "24/5 hour professional support",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: `Całodobowa obsługa 5 dni w tygodniu.`,
      hu: "",
      th: "",
      ms: "",
      vi: "Hỗ trợ chuyên nghiệp 24/5",
    },
    svgIcon: icon1,
  },
  {
    title: {
      en: "Training tools",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: `Narzędzia szkoleniowe`,
      hu: "",
      th: "",
      ms: "",
      vi: "Công cụ đào tạo",
    },
    svgIcon: icon2,
  },
  {
    title: {
      en: "No hidden fees",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: `Brak ukrytych opłat`,
      hu: "",
      th: "",
      ms: "",
      vi: "Không có phí ẩn",
    },
    svgIcon: icon3,
  },
];
---

<section id="section1" class="bg-gray-200 py-7 md:py-8 lg:py-9 xl:py-11">
  <div class="container flex flex-wrap justify-around gap-8">
    {
      bullets.map((bullet) => (
        <div class="flex flex-col gap-2 text-center">
          <Fragment set:html={bullet.svgIcon} class="dsa" />
          <p class="max-w-[20ch]">
            {componentProps.features?.includes(Features.showcase)
              ? showcase({ words: 3 })
              : bullet.title[componentProps.lang]}
          </p>
        </div>
      ))
    }
  </div>
</section>
