---
import {
  buttonWrapperDisclaimer,
  buttonWrapperLabel,
} from "@/translations/button-wrapper";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";
import ButtonWrapper from "./Button-Wrapper";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: "Trade in your favorite Product",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: `Wybierz swoje ulubione produkty`,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);

const para: TranslationsType = textBy(
  {
    default: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: `Open an account with <strong>${componentProps.brandObj.name}</strong>, and diversify your portfolio by investing in a variety of products.`,
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: `Otwórz rachunek u nas i poszerz swoje portfolio`,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);
---

<section id="section4" class="py-7 md:py-8 lg:py-9 xl:py-11">
  <div class="container flex flex-col items-center justify-center gap-12">
    <h2
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({ words: 5 })
        : title[componentProps.lang]}
      class="text-heading2 text-center font-bold"
    />
    <div
      class="corners relative max-w-[60ch] px-4 py-8 text-center"
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({ words: 15 })
        : para[componentProps.lang]}
    />
    <ButtonWrapper
      componentProps={componentProps}
      buttonLabel={componentProps.features?.includes(Features.showcase)
        ? showcase({ words: 2 })
        : buttonWrapperLabel[componentProps.lang]}
      buttonDisclaimer={componentProps.features?.includes(Features.showcase)
        ? showcase({ words: 5 })
        : buttonWrapperDisclaimer[componentProps.lang]}
      hrefTo="formWrapper"
      whatsapp={componentProps.brandObj.whatsapp}
      client:only
    />
  </div>
</section>

<style lang="scss">
  .corners {
    &::before,
    &::after {
      border: 5px solid #fbbf3c;
      content: "";
      height: 100%;
      width: 100px;
      position: absolute;
      inset: 0 auto;
    }

    &::before {
      border-width: 0 0 5px 5px;
      left: 0;
    }
    &::after {
      border-width: 5px 5px 0 0;
      right: 0;
    }
  }
</style>
