---
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import brandsStrip from "../assets/brands-strip.png";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;
componentProps;
---

<section id="section6" class="">
  <Image
    src={brandsStrip}
    alt="Background"
    class="h-divider mx-auto max-w-full object-cover"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, brandsStrip.width]}
    sizes={`
      (max-width: 320px) 400px
    `}
  />
</section>
