---
import Form from "../../../../globals/components/form";
import { showcase } from "../../../../globals/features/showcase/text";
import { glossaryLetter_S } from "../../../../globals/translations/glossary";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { Button } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const list: TranslationsType[] = [
  {
    en: `Trusted by over 1M traders world-wide`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: `موثوق من أكثر من مليون متداول حول العالم`,
    de: ``,
    es: `Confiado por más de 1 millón de traders en todo el mundo`,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  {
    en: `Fully regulated & secure platform`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: `منصة مرخصة وآمنة بالكامل`,
    de: ``,
    es: `Plataforma totalmente regulada y segura`,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  {
    en: `13+ years of market expertise`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: `أكثر من 13 عامًا من الخبرة في الأسواق`,
    de: ``,
    es: `Más de 13 años de experiencia en los mercados`,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
];
---

<section id="section1" class="section1 border border-primary text-primary py-6">
  <div class="container">
    <ul
      class="text-custom-size flex flex-wrap items-center justify-around gap-4"
    >
      {
        list.map((li) => (
          <li class="flex items-center max-md:grow">
            <div class="w-4 h-4 bg-accent border border-primary rounded-full inline-block mr-1"></div>
            <span
              set:html={
                componentProps.features?.includes(Features.showcase)
                  ? showcase({
                      words: 1,
                    })
                  : li[componentProps.lang]
              }
            />
          </li>
        ))
      }
    </ul>
  </div>
</section>
