---
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";
import icon1 from "../assets/icon1.png";
import icon2 from "../assets/icon2.png";
import icon3 from "../assets/icon3.png";
import { Image } from "astro:assets";
import section1BG from "../assets/section1-BG-desktop.png";
import { Features } from "../../../../globals/types/enums";
import { showcase } from "../../../../globals/features/showcase/text";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

// Title
const titleFSA: TranslationsType = {
  en: "",
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: `Zacznij mądrze z 3 krokami`,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const titleCYSEC: TranslationsType = {
  en: "",
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: `Zainteresowany zarabianiem poprzez inwestycje? sprawdź co oferuje ${componentProps.brandObj.name}:`,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const title = textBy(
  {
    default: titleFSA,
    fsa: titleFSA,
    cysec: titleCYSEC,
  },
  "license",
  componentProps,
);

interface Bullet {
  title: TranslationsType;
  image: ImageMetadata;
}

const bullets: Bullet[] = [
  {
    title: textBy(
      {
        fsa: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: "",
          sv: ``,
          pt: "",
          fi: "",
          pl: `Wypełnij formularz na tej stronie.`,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: "",
          sv: ``,
          pt: "",
          fi: "",
          pl: `Materiały szkoleniowe`,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
    image: icon1,
  },
  {
    title: textBy(
      {
        fsa: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: "",
          sv: ``,
          pt: "",
          fi: "",
          pl: `Skontaktujemy Cię z jednym z naszych partnerów brokerskich działających zgodnie z regulacja`,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: "",
          sv: ``,
          pt: "",
          fi: "",
          pl: `Sesje szkoleniowe`,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
    image: icon2,
  },
  {
    title: textBy(
      {
        fsa: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: "",
          sv: ``,
          pt: "",
          fi: "",
          pl: `Otrzymaj bezpłatny kurs edukacyjny, aby nauczyć się handlować.`,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: "",
          sv: ``,
          pt: "",
          fi: "",
          pl: `Tutorial wideo`,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
    image: icon3,
  },
];
---

<section
  id="section1"
  class="section1 relative mb-8 py-4 sm:pt-8 sm:pb-16 md:pb-28 lg:pt-12 lg:pb-26 xl:pt-20"
>
  <Image
    src={section1BG}
    alt="Background"
    class="absolute top-0 left-0 z-0 hidden h-full w-full sm:block"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, section1BG.width]}
    sizes={"100vw"}
  />
  <div class="relative z-10">
    <div class="container grid place-items-center pb-4 sm:pb-8 lg:pb-12">
      <h2
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 5,
            })
          : title[componentProps.lang]}
        class="text-primary max-w-[50ch] text-center text-3xl font-bold uppercase"
      />
    </div>
    <div class="container flex flex-col gap-8 md:flex-row">
      {
        bullets.map((bullet) => (
          <div class="flex flex-col items-center justify-start gap-4 md:basis-1/3">
            <Image
              src={bullet.image}
              alt="Background"
              class=""
              widths={[150, bullet.image.width]}
              sizes={"150px"}
            />
            <h3
              set:html={
                componentProps.features?.includes(Features.showcase)
                  ? showcase({
                      words: 10,
                    })
                  : bullet.title[componentProps.lang]
              }
              class="max-w-[26ch] text-center font-bold italic"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
