---
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import subHeaderBG2 from "../assets/subHeaderBG2.jpg";
import { Features } from "../../../../globals/types/enums";
import { showcase } from "../../../../globals/features/showcase/text";
import { textBy } from "../../../../globals/utils/text-by";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: textBy(
      {
        default: {
          en: "",
          it: `Corso di Trading Online <span class="text-secondary uppercase">Gratuito</span>`,
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: `Cursos de trading <span class="text-secondary uppercase">GRATIS</span>`,
          sv: ``,
          pt: "",
          fi: "",
          pl: ``,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: ``,
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: ``,
          sv: ``,
          pt: ``,
          fi: "",
          pl: `Handel <span class="text-secondary">forex</span> online`,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
    meaningfulName: textBy(
      {
        default: {
          en: ``,
          it: ``,
          tr: ``,
          ro: ``,
          ar: ``,
          de: ``,
          es: `Regístrate para obtener acceso a los cursos de trading`,
          sv: ``,
          pt: ``,
          fi: ``,
          pl: ``,
          hu: ``,
          th: ``,
          ms: ``,
          vi: ``,
        },
        cysec: {
          en: "",
          it: ``,
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: ``,
          sv: ``,
          pt: ``,
          fi: "",
          pl: `Darmowy Kurs Handlu Online`,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
    anotherMeaningfulName: {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Trading en forex`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    betterMeaningfulName: {
      en: "",
      it: ``,
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: `Domina el Trading desde Cero`,
      sv: ``,
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    greaterMeaningfulName: {
      en: "",
      it: ``,
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: `Cursos educativos de trading`,
      sv: ``,
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "textVersion",
  componentProps.customOptions,
);

const paras: TranslationsType[] = [
  textBy(
    {
      default: textBy(
        {
          default: {
            en: "",
            it: `l forex è il mercato più grande e più liquido al mondo, sicuramente quello che può garantire i profitti più elevati ed è quindi normale che moltissimi principianti se ne sentano attirati. Il nostro corso consente a tutti, anche a chi non ha esperienza, di <strong>cominciare con successo il trading forex</strong>.`,
            tr: "",
            ro: "",
            ar: "",
            de: "",
            es: `El mercado Forex es el de mayor tamaño y liquidez del mundo, y el que puede garantizar los mayores beneficios, por lo tanto, es normal que muchos principiantes se sientan atraídos por él. Nuestro curso permite a todo el mundo, incluso a aquellos que no tienen experiencia, comenzar a operar Forex con éxito.`,
            sv: ``,
            pt: "",
            fi: "",
            pl: ``,
            hu: "",
            th: "",
            ms: "",
            vi: "",
          },
          cysec: {
            en: "",
            it: ``,
            tr: "",
            ro: "",
            ar: "",
            de: "",
            es: ``,
            sv: ``,
            pt: ``,
            fi: "",
            pl: `Forex to największy i najbardziej płynny rynek na świecie i wiele osób czuje pociąg do handlu online.`,
            hu: "",
            th: "",
            ms: "",
            vi: "",
          },
        },
        "license",
        componentProps,
      ),
      meaningfulName: textBy(
        {
          default: {
            en: "",
            it: `l forex è il mercato più grande e più liquido al mondo, sicuramente quello che può garantire i profitti più elevati ed è quindi normale che moltissimi principianti se ne sentano attirati. Il nostro corso consente a tutti, anche a chi non ha esperienza, di <strong>cominciare con successo il trading forex</strong>.`,
            tr: "",
            ro: "",
            ar: "",
            de: "",
            es: `El mercado Forex es el de mayor tamaño y liquidez del mundo, y el que puede garantizar los mayores beneficios, por lo tanto, es normal que muchos principiantes se sientan atraídos por él. Nuestro curso permite a todo el mundo, incluso a aquellos que no tienen experiencia, comenzar a operar Forex con éxito.`,
            sv: ``,
            pt: "",
            fi: "",
            pl: ``,
            hu: "",
            th: "",
            ms: "",
            vi: "",
          },
          cysec: {
            en: "",
            it: ``,
            tr: "",
            ro: "",
            ar: "",
            de: "",
            es: ``,
            sv: ``,
            pt: ``,
            fi: "",
            pl: `Rynek Forex to największy i najbardziej płynny rynek na świecie. To właśnie dlatego przyciąga tak wielu inwestorów. Nasz kurs pozwala zarówno początkującym, jak i zaawansowanym traderom doskonalić swoje umiejętności handlowe.`,
            hu: "",
            th: "",
            ms: "",
            vi: "",
          },
        },
        "license",
        componentProps,
      ),
      anotherMeaningfulName: {
        en: ``,
        it: ``,
        tr: ``,
        ro: ``,
        ar: ``,
        de: ``,
        es: `Forex es el mercado más grande y líquido del mundo, y muchas personas se sienten atraídas por la idea de operar en línea.`,
        sv: ``,
        pt: ``,
        fi: ``,
        pl: ``,
        hu: ``,
        th: ``,
        ms: ``,
        vi: ``,
      },
    },
    "textVersion",
    componentProps.customOptions,
  ),
  textBy(
    {
      default: textBy(
        {
          default: {
            en: "",
            it: `Chi avrà l'intelligenza di seguire il nostro corso forex fino in fondo avrà la possibilità di scoprire tutte <strong>le migliori strategie e tutti i migliori indicatori per il trading forex</strong>.`,
            tr: "",
            ro: "",
            ar: "",
            de: "",
            es: `Quien se sienta con ganas de seguir nuestro curso de forex hasta el final tendrá la oportunidad de descubrir las mejores estrategias y los mejores indicadores para operar forex.`,
            sv: ``,
            pt: "",
            fi: "",
            pl: ``,
            hu: "",
            th: "",
            ms: "",
            vi: "",
          },
          cysec: {
            en: "",
            it: ``,
            tr: "",
            ro: "",
            ar: "",
            de: "",
            es: ``,
            sv: ``,
            pt: ``,
            fi: "",
            pl: `Dla tych, którzy dopiero rozpoczynają swoją podróż handlową, wykształcenie jest warunkiem wstępnym. Przed rozpoczęciem tej podróży ważne jest, aby przeprowadzić niezbędne badania i poszerzyć swoją wiedzę.`,
            hu: "",
            th: "",
            ms: "",
            vi: "",
          },
        },
        "license",
        componentProps,
      ),
      meaningfulName: textBy(
        {
          default: {
            en: "",
            it: `Chi avrà l'intelligenza di seguire il nostro corso forex fino in fondo avrà la possibilità di scoprire tutte <strong>le migliori strategie e tutti i migliori indicatori per il trading forex</strong>.`,
            tr: "",
            ro: "",
            ar: "",
            de: "",
            es: `Quien se sienta con ganas de seguir nuestro curso de forex hasta el final tendrá la oportunidad de descubrir las mejores estrategias y los mejores indicadores para operar forex.`,
            sv: ``,
            pt: "",
            fi: "",
            pl: ``,
            hu: "",
            th: "",
            ms: "",
            vi: "",
          },
          cysec: {
            en: "",
            it: ``,
            tr: "",
            ro: "",
            ar: "",
            de: "",
            es: ``,
            sv: ``,
            pt: ``,
            fi: "",
            pl: `Osoby, które zdecydują się na udział w kursie, otrzymają możliwość zapoznania się z terminologią handlową, najnowszymi wiadomościami rynkowymi, wskazówkami i analizami.`,
            hu: "",
            th: "",
            ms: "",
            vi: "",
          },
        },
        "license",
        componentProps,
      ),
      anotherMeaningfulName: {
        en: ``,
        it: ``,
        tr: ``,
        ro: ``,
        ar: ``,
        de: ``,
        es: `Para quienes comienzan su andadura en el trading, la formación es un requisito indispensable. Antes de iniciar este viaje, es importante realizar la investigación necesaria ampliando sus conocimientos.`,
        sv: ``,
        pt: ``,
        fi: ``,
        pl: ``,
        hu: ``,
        th: ``,
        ms: ``,
        vi: ``,
      },
    },
    "textVersion",
    componentProps.customOptions,
  ),
];
---

<section id="section1" class="relative py-8 lg:py-32">
  <Image
    src={subHeaderBG2}
    alt="Graph presentation"
    class="pointer-events-none absolute top-0 left-0 z-0 h-full w-full object-cover object-right lg:object-center xl:object-top"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, subHeaderBG2.width]}
    sizes={`
      (max-width: 320px) 320px,
      (max-width: 639px) 640px,
      (max-width: 767px) 768px,
      (max-width: 1023px) 1024px,
      (max-width: 1279px) 1280px,
      (max-width: 1535px) 1536px,
      100vw
    `}
  />
  <div
    class="bg-primary absolute top-0 left-0 z-10 h-full w-full opacity-90 lg:hidden"
  >
  </div>
  <div class="relative z-20 container flex">
    <div class="flex flex-col gap-6 lg:basis-1/2">
      <h1
        class="text-heading1 lg:bg-primary font-bold text-balance text-white"
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({ words: 3, spanClasses: "text-secondary uppercase" })
          : title[componentProps.lang]}
      />
      <div class="flex flex-col gap-6">
        {
          paras.map((para, index) => {
            const showCaseWords = (index: number) => {
              switch (index) {
                case 0:
                  return showcase({ words: 50 });

                case 1:
                  return showcase({ words: 30 });

                default:
                  return showcase({ words: 30 });
              }
            };

            return (
              <p
                class="text-white sm:text-[18px]"
                set:html={
                  componentProps.features?.includes(Features.showcase)
                    ? showCaseWords(index)
                    : para[componentProps.lang]
                }
              />
            );
          })
        }
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @reference "../styles/global.css";

  h1 {
    @apply relative;
    &::before {
      content: "";
      @apply bg-primary absolute top-0 -left-[10000px] hidden h-full w-[10000px] lg:block;
    }
  }
</style>
