---
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import subHeaderBG2 from "../assets/subHeaderBG2.jpg";
import { Features } from "../../../../globals/types/enums";
import { showcase } from "../../../../globals/features/showcase/text";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: "",
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: `Cursos de trading <span class="text-secondary uppercase">GRATIS</span>`,
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
  // showcase: `Lorem ipsum dolor <span class="text-secondary uppercase">sit</span>.`,
};

const paras: TranslationsType[] = [
  {
    en: "",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: `El mercado Forex es el de mayor tamaño y liquidez del mundo, y el que puede garantizar los mayores beneficios, por lo tanto, es normal que muchos principiantes se sientan atraídos por él. Nuestro curso permite a todo el mundo, incluso a aquellos que no tienen experiencia, comenzar a operar Forex con éxito.`,
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
    // showcase: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, soluta? Nisi, quam quibusdam aut, inventore corporis nostrum id molestias iste illo hic, sed unde officia iusto at velit dolor dignissimos?",
  },
  {
    en: "",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: `Quien se sienta con ganas de seguir nuestro curso de forex hasta el final tendrá la oportunidad de descubrir las mejores estrategias y los mejores indicadores para operar forex.`,
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
    // showcase: "Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.",
  },
];
---

<section id="section1" class="relative py-8 lg:py-32">
  <Image
    src={subHeaderBG2}
    alt="Graph presentation"
    class="absolute top-0 left-0 z-0 h-full w-full object-cover object-right lg:object-center xl:object-top"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, subHeaderBG2.width]}
    sizes={`
      (max-width: 320px) 320px,
      (max-width: 639px) 640px,
      (max-width: 767px) 768px,
      (max-width: 1023px) 1024px,
      (max-width: 1279px) 1280px,
      (max-width: 1535px) 1536px,
      100vw
    `}
  />
  <div
    class="bg-primary absolute top-0 left-0 z-10 h-full w-full opacity-90 lg:hidden"
  >
  </div>
  <div class="relative z-20 container flex">
    <div class="flex flex-col gap-6 lg:basis-1/2">
      <h1
        class="text-heading1 lg:bg-primary font-bold text-white"
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({ words: 3, spanClasses: "text-secondary uppercase" })
          : title[componentProps.lang]}
      />
      <div class="flex flex-col gap-6">
        {
          paras.map((para, index) => {
            const showCaseWords = (index: number) => {
              switch (index) {
                case 0:
                  return showcase({ words: 50 });

                case 1:
                  return showcase({ words: 30 });

                default:
                  return showcase({ words: 30 });
              }
            };

            return (
              <p
                class="text-white sm:text-[18px]"
                set:html={
                  componentProps.features?.includes(Features.showcase)
                    ? showCaseWords(index)
                    : para[componentProps.lang]
                }
              />
            );
          })
        }
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @reference "../styles/global.css";

  h1 {
    @apply relative;
    &::before {
      content: "";
      @apply bg-primary absolute top-0 -left-[10000px] hidden h-full w-[10000px] lg:block;
    }
  }
</style>
