---
import Form from "../../../../globals/components/form";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: {
      en: "",
      it: "Ricevi corso educativo GRATIS",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: `Reciba nuestro kit formativo gratuito`,
      sv: ``,
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    meaningfulName: {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Reciba nuestro kit formativo`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  "textVersion",
  componentProps.customOptions,
);

const formBtn: TranslationsType = {
  en: "",
  it: "Registrati ora",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: `Registrarse ahora`,
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};
---

<section id="section2" class="bg-black text-white">
  <div class="lg:bg-primary py-2">
    <div class="container">
      <h2
        class="text-heading2 text-center font-bold uppercase"
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({ words: 5 })
          : title[componentProps.lang]}
      />
    </div>
  </div>
  <div class="container py-4 lg:pb-0">
    <Form
      componentProps={componentProps}
      button={componentProps.features?.includes(Features.showcase)
        ? showcase({ words: 2 })
        : formBtn[componentProps.lang]}
      id="main-form"
    />
  </div>
</section>

<style lang="scss" is:global>
  @reference "../styles/global.css";

  form.registerForm {
    .registerFormInner {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, auto);
      @container (min-width: 750px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      > .form-control {
        grid-column-start: 1;
        grid-column-end: 3;
        @container (min-width: 750px) {
          grid-column-start: 1;
          grid-column-end: 3;
        }

        &.firstNameWrapper {
          @container (min-width: 430px) {
            grid-column-start: 1;
            grid-column-end: 2;
          }
        }
        &.lastNameWrapper {
          @container (min-width: 430px) {
            grid-column-start: 2;
            grid-column-end: 3;
          }
        }
        &.emailWrapper {
          @container (min-width: 750px) {
            grid-column-start: 3;
            grid-column-end: 4;
          }
        }
        &.countryWrapper {
          @container (min-width: 750px) {
            grid-column-start: 1;
            grid-column-end: 2;
          }
        }
        &.phoneNumberWrapper {
          @container (min-width: 750px) {
            grid-column-start: 2;
            grid-column-end: 3;
          }
        }
        &.agreementWrapper,
        &.riskEsma {
          @container (min-width: 750px) {
            grid-column-start: 1;
            grid-column-end: 4;
          }
        }
        &.submitButtonWrapper {
          @container (min-width: 750px) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
          }
        }
      }
    }

    .form-control {
      label {
      }
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      select {
        // border: medium none;
        // max-width: 100%;
        // padding: 5px 15px;
        // transition: 350ms;
        // width: 100%;

        @apply h-12 text-black;
        &:hover {
        }
        &:focus {
        }
        &::placeholder {
        }
      }
      button {
        @apply bg-secondary text-secondary-foreground hover:bg-primary hover:text-primary-foreground flex h-12 gap-4 uppercase;
      }
    }
  }
</style>
