---
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const para: TranslationsType = {
  en: `<strong>${componentProps.brandObj.name}</strong> offers you all the knowledge you need and the last generation tools in order to help you trade <strong>gold</strong> comfortably and reach your full potential.`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: `<strong>${componentProps.brandObj.name}</strong> te brinda todo el conocimiento que necesitas y herramientas de última generación para ayudarte a operar con oro cómodamente y alcanzar tu máximo potencial.`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
  showcase: "",
};
---

<section class="py-7">
  <div class="container grid place-items-center">
    <p
      class="text-para-lead-2 max-w-[53ch] text-center"
      set:html={para[componentProps.lang]}
    />
  </div>
</section>
