---
import { icon1 } from "@/constants/icon1";
import { icon2 } from "@/constants/icon2";
import { icon3 } from "@/constants/icon3";
import { icon4 } from "@/constants/icon4";
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import bg from "../assets/bg-desktop.jpg";
import { Features } from "../../../../globals/types/enums";
import { showcase } from "../../../../globals/features/showcase/text";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const bullets: {
  icon: string;
  title: TranslationsType;
  para: TranslationsType;
}[] = [
  {
    icon: icon1,
    title: {
      en: `Personal Tutor`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Tutor Personal`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `Taylor-made mentoring from our top analysts`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Mentoría personalizada de nuestros principales analistas.`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    icon: icon2,
    title: {
      en: `Personalized Training`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Formación Personalizada`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `A massive choice of free masterclasses, webinars and tutorials with the best market gurus around the world`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Una amplia selección de clases magistrales, seminarios web y tutoriales gratuitos con los mejores gurús del mercado a nivel mundial.`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    icon: icon3,
    title: {
      en: `Top Trading Tools`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Herramientas de Trading de Primer Nivel`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `Apps, platforms, mobile alerts, notifications with the latest news from the market`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Aplicaciones, plataformas, alertas móviles y notificaciones con las últimas noticias del mercado.`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    icon: icon4,
    title: {
      en: `Constant Live Support`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Soporte en Vivo Constante`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `24/7 specialized support from our analysts`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Soporte especializado 24/7 de nuestros analistas.`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
];
---

<section class="relative py-7">
  <Image
    src={bg}
    alt="Background"
    class="absolute inset-0 z-0 h-full w-full object-cover object-left md:object-center"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, bg.width]}
    sizes={`
    (max-width: 320px) 576px,
    (max-width: 576px) 640px,
    (max-width: 640px) 768px,
    (max-width: 768px) 1024px,
    (max-width: 1024px) 1280px,
    (max-width: 1280px) 1536px,
    100vw
  `}
  />
  <div
    class="relative z-10 container flex max-w-[950px] flex-col flex-wrap items-center justify-center gap-12 text-white md:flex-row md:items-start md:justify-between"
  >
    {
      bullets.map((bullet) => (
        <div class="flex flex-col items-center justify-center gap-4 text-center md:w-full md:max-w-[45%] md:flex-row md:items-start md:justify-start md:text-start">
          <div
            class="max-w-[100px] 2xl:max-w-[145px] [&>svg]:h-auto [&>svg]:max-w-full"
            set:html={bullet.icon}
          />
          <div>
            <h2
              class="text-heading2 text-primary font-bold uppercase"
              set:html={
                componentProps.features?.includes(Features.showcase)
                  ? showcase({
                      words: 2,
                    })
                  : bullet.title[componentProps.lang]
              }
            />
            <p
              class="text-heading2"
              set:html={
                componentProps.features?.includes(Features.showcase)
                  ? showcase({
                      words: 10,
                    })
                  : bullet.para[componentProps.lang]
              }
            />
          </div>
        </div>
      ))
    }
  </div>
</section>
