---
import { CUSTOM_DISCLAIMER } from "@/constants/custom-disclaimer";
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { Button } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `How it works?`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `كيف يعمل ذلك؟`,
  de: ``,
  es: `¿Cómo funciona?`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const bullets: TranslationsType[] = [
  {
    en: `Sign up in minutes`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: `سجل خلال دقائق`,
    de: ``,
    es: `Regístrate en minutos`,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  {
    en: `Make a deposit`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: `قم بالإيداع`,
    de: ``,
    es: `Realiza un depósito`,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  {
    en: `Earn automatic cashback as you trade`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: `احصل على كاش باك تلقائي أثناء التداول`,
    de: ``,
    es: `Gana cashback automático mientras operas`,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
];

const formButton: TranslationsType = {
  en: `Sign up for <span class="uppercase">free</span>`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `سجّل مجانًا`,
  de: ``,
  es: `Regístrate <span class="uppercase">gratis</span>`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section
  id="section1"
  class="section1 bg-primary text-primary-foreground py-custom-spacing"
>
  <div class="space-y-custom-spacing container">
    <h2
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 3,
          })
        : title[componentProps.lang]}
      class="text-heading2 font-black uppercase"
    />

    <div
      class="flex flex-wrap items-start justify-between gap-y-4 lg:justify-around"
    >
      {
        bullets.map((bullet, index) => (
          <div class="flex items-center justify-start gap-4 lg:w-4/12">
            <div class="bg-background border-primary text-primary outline-accent text-heading2 m-[4px] grid size-16 min-w-16 place-items-center rounded-se-2xl rounded-es-2xl border-[4px] font-black outline-4 lg:size-[100px] lg:min-w-[100px] 2xl:text-6xl">
              {index + 1 <= 9 ? "0" + (index + 1) : index + 1}
            </div>
            <div class="text-custom-size pe-2 text-balance">
              {componentProps.features?.includes(Features.showcase)
                ? showcase({
                    words: 5,
                  })
                : bullet[componentProps.lang]}
            </div>
          </div>
        ))
      }
    </div>

    <ButtonDisclaimer
      componentProps={componentProps}
      client:load
      className="w-full! max-w-[300px] lg:mx-auto"
      disclaimer={{
        active: true,
        text: CUSTOM_DISCLAIMER[componentProps.lang],
      }}
    >
      <Button
        variant={"secondary"}
        className={"js-modal-trigger text-custom-size! w-full cursor-pointer font-black uppercase"}
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 2,
            })
          : formButton[componentProps.lang]}
      />
    </ButtonDisclaimer>
  </div>
</section>
