---
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import graphMan from "../assets/graph-man.png";
import { showcase } from "../../../../globals/features/showcase/text";
import { Features } from "../../../../globals/types/enums";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Why trade indices with signals`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: `¿Por qué operar índices con señales?`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const paras: TranslationsType[] = [
  {
    en: `Stock indices like SP500, Nikkei225, WIG20 or LATAM30 offer broad market exposure and are key indicators of global economic trends. Because they reflect the performance of entire sectors or regions, they're popular with both short- and long-term traders.`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: `Índices bursátiles como el SP500, Nikkei225, WIG20 o LATAM30 ofrecen una exposición amplia al mercado y son indicadores clave de las tendencias económicas globales.
Al reflejar el rendimiento de sectores o regiones enteras, son populares tanto para traders a corto como a largo plazo.`,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  {
    en: `However, timing the market can be complex. That’s why expert-generated trading signals are invaluable — they provide actionable insights on trends, support/resistance levels, and potential turning points. Whether you're day trading or swing trading, signals help you stay one step ahead.`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: `Sin embargo, cronometrar el mercado puede ser complicado. Por eso las señales de trading generadas por expertos son invaluables: ofrecen análisis accionables sobre tendencias, niveles de soporte y resistencia, y posibles puntos de cambio. Ya sea que hagas day trading o swing trading, las señales te ayudan a mantenerte un paso adelante.`,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
];
---

<section id="section1" class="section1">
  <div class="container flex flex-wrap">
    <div
      class="gap-custom-spacing py-custom-spacing flex w-full flex-col lg:order-2 lg:w-7/12 lg:text-end"
    >
      <h2
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 5,
            })
          : title[componentProps.lang]}
        class="text-heading2 font-black uppercase"
      />
      {
        paras.map((para) => (
          <div
            set:html={
              componentProps.features?.includes(Features.showcase)
                ? showcase({
                    words: 30,
                  })
                : para[componentProps.lang]
            }
            class="text-custom-size text-balance"
          />
        ))
      }
    </div>
    <div
      class="lg: relative flex w-full items-end justify-center lg:order-1 lg:w-5/12"
    >
      <Image
        src={graphMan}
        alt="50%"
        class={cn(
          "max-w-[350px] w-full lg:max-w-none lg:absolute lg:bottom-0 lg:end-0 lg:h-full object-contain object-bottom",
          componentProps.lang === "ar" ? "" : "",
        )}
        widths={[320, 576, 640, 768, 1024, 1280, 1536, graphMan.width]}
        sizes={`
          (max-width: 320px) 273px,
          (max-width: 768px) 350px,
          (max-width: 1081px) 431px,
          510px
        `}
      />
    </div>
  </div>
</section>
