---
import { Image } from "astro:assets";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";
import bg from "../assets/bg.jpg";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `¿Interesado en emprender un nuevo viaje comercial?`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    meaningfulName: {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Reciba 3 señales, 3 veces al día`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  "textVersion",
  componentProps.customOptions,
);

const para: TranslationsType = textBy(
  {
    default: {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Invertir en su conocimiento y la formación sobre el comercio es muy importante antes de comenzar su nuevo viaje. Por eso, ${componentProps.brandObj.name} ofrece una biblioteca educativa completa para apoyar mejor sus necesidades comerciales.`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    meaningfulName: {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Todo operador financiero sabe que la diferencia entre el éxito y el fracaso es la información oportuna. Obtenga señales de trading gratuitas directamente en su teléfono inteligente o por correo electrónico para que siempre pueda estar al tanto de la evolución del mercado.`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  "textVersion",
  componentProps.customOptions,
);
---

<section
  class="relative overflow-hidden border-y-[10px] border-[var(--secondary-dark)]"
>
  <Image
    src={bg}
    alt="Apple Laptop Diploma"
    class="absolute z-0 h-full w-full object-cover"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, bg.width]}
    sizes={`
      (max-width: 320px) 576px,
      (max-width: 576px) 768px,
      (max-width: 768px) 1024px,
      (max-width: 1024px) 1536px,
      100vw
    `}
  />

  <div class="absolute z-10 h-full w-full bg-zinc-800/60"></div>
  <div class="relative z-20 container flex flex-col gap-4 lg:flex-row">
    <div
      class="relative z-20 flex grow items-center justify-center py-9 text-center lg:z-0 lg:w-[50%] lg:min-w-[50%] lg:justify-start lg:p-0 lg:text-start"
    >
      <div class="flex max-w-[75ch] flex-col gap-4 text-white lg:py-10">
        <h1
          class="text-heading1 text-secondary leading-tight font-bold"
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({ words: 10 })
            : title[componentProps.lang]}
        />
        <p
          class="text-start leading-tight"
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({ words: 50 })
            : para[componentProps.lang]}
        />
      </div>
    </div>
  </div>
</section>
