---
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: `Learn & develop with expert educational library`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: `Ucz się i rozwijaj dzięki eksperckiej bibliotece edukacyjnej`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  "license",
  componentProps,
);

const para: TranslationsType = textBy(
  {
    default: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: `Gain access to extensive educational resources tailored for all levels of traders. From eBooks to in-depth video courses, we ensure that you have the knowledge to make smart decisions. Learn at your own pace and develop the skills needed to conquer the trading arena.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: `Uzyskaj dostęp do obszernej bazy materiałów edukacyjnych dostosowanych do każdego poziomu zaawansowania. Od e-booków po szczegółowe kursy wideo - zapewniamy Ci wiedzę niezbędną do podejmowania mądrych decyzji. Ucz się we własnym tempie i rozwijaj umiejętności potrzebne do sukcesu na rynku handlowym.`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  "license",
  componentProps,
);
---

<section id="section1" class="section1 py-custom-spacing">
  <div class="container flex flex-col gap-6">
    <h2
      class="text-heading2 text-primary font-black uppercase"
      set:html={title[componentProps.lang]}
    />

    <p set:html={para[componentProps.lang]} class="text-custom-size" />
  </div>
</section>
