---
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { Button, buttonVariants } from "./ui/button";
import { Image } from "astro:assets";
import phone from "../assets/phone.png";
import man from "../assets/business-man.png";
import { cn } from "@/lib/utils";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Trade anywhere, anytime`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `تداول في أي وقت ومن أي مكان`,
  de: ``,
  es: `Opera donde quieras, cuando quieras`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const para: TranslationsType = {
  en: `Download the FXORO Trading App and stay connected with real-time market notifications and instant trading access.`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `قم بتحميل تطبيق FXORO للتداول وابقَ على اطلاع دائم بإشعارات السوق الفورية وإمكانية الوصول الفوري للتداول.`,
  de: ``,
  es: `Descarga la FXORO Trading App y mantente conectado con notificaciones del mercado en tiempo real y acceso instantáneo al trading.`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const buttonLabel: TranslationsType = {
  en: `Download now`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `حمّل الآن`,
  de: ``,
  es: `Descargar ahora`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section id="section3" class="section3 overflow-clip">
  <div class="container flex max-lg:flex-wrap">
    <div class="space-y-custom-spacing py-custom-spacing lg:w-6/12">
      <div class="space-y-4">
        <h2
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 5,
              })
            : title[componentProps.lang]}
          class="text-heading2 font-black text-balance uppercase"
        />

        <p
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 15,
              })
            : para[componentProps.lang]}
          class="text-para-lead text-balance"
        />
      </div>

      <ButtonDisclaimer
        componentProps={componentProps}
        disclaimer={{
          active: false,
        }}
        client:load
      >
        <a
          href="https://fxoro.com/app"
          target="_blank"
          class={cn(
            buttonVariants({ variant: "accent" }),
            "w-full cursor-pointer p-6 font-black uppercase",
          )}
          style={{
            fontSize: "var(--text-para-lead)",
          }}
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 2,
              })
            : buttonLabel[componentProps.lang]}
        />
      </ButtonDisclaimer>
    </div>
    <div class="relative grow">
      <div class="flex max-lg:mx-auto sm:w-fit">
        <Image
          src={phone}
          alt="phone Icon"
          class={cn(
            "max-w-[350px] max-sm:w-full -mb-60 max-sm:mx-auto relative z-10",
          )}
          widths={[320, 576, 640, 768, 1024, 1280, 1536, phone.width]}
          sizes={`
            (max-width: 320px) 273px,
            350px
          `}
        />
        <Image
          src={man}
          alt="Man"
          class={cn(
            "max-w-[230px] max-sm:w-full -mb-[100px] max-sm:mx-auto object-contain  relative  max-sm:hidden",
            componentProps.lang === "ar"
              ? "-start-[25px]"
              : "scale-x-[-1] -start-[55px]",
          )}
          widths={[320, 576, 640, 768, 1024, 1280, 1536, man.width]}
          sizes={`
            (max-width: 320px) 273px,
            300px
          `}
        />
      </div>
    </div>
  </div>
</section>
