---
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import metaImage from "../assets/facebook.png";
import amazonImage from "../assets/amazon.png";
import googleImage from "../assets/google.png";
import netflixImage from "../assets/netflix.png";
import microsoftImage from "../assets/windows.png";
import teslaImage from "../assets/tesla.png";
import { showcase } from "../../../../globals/features/showcase/text";
import { Features } from "../../../../globals/types/enums";
import { textBy } from "../../../../globals/utils/text-by";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const sections: {
  title: TranslationsType;
  image: ImageMetadata;
  paras: TranslationsType[];
}[] = [
  {
    title: textBy(
      {
        fgm: {
          en: `Meta Platforms Inc`,
          it: ``,
          tr: ``,
          ro: ``,
          ar: ``,
          de: ``,
          es: ``,
          sv: ``,
          pt: ``,
          fi: ``,
          pl: ``,
          hu: ``,
          th: ``,
          ms: ``,
          vi: ``,
        },
        ant: {
          en: ``,
          it: ``,
          tr: ``,
          ro: ``,
          ar: `AMAZON`,
          de: ``,
          es: ``,
          sv: ``,
          pt: ``,
          fi: ``,
          pl: ``,
          hu: ``,
          th: ``,
          ms: ``,
          vi: ``,
        },
      },
      "faang",
      componentProps.customOptions,
    ),
    image:
      componentProps.customOptions.faang === "fgm" ? metaImage : amazonImage,
    paras: [
      textBy(
        {
          fgm: {
            en: `Meta Platforms Inc., doing business as Meta, is an American multinational technology conglomerate based in Menlo Park, California. The company owns a number of popular products and services, including Facebook, Instagram, and WhatsApp.`,
            it: ``,
            tr: ``,
            ro: ``,
            ar: ``,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
          ant: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: `أمازون. Amazon هي شركة تقنية أمريكية متعددة الجنسيات متخصصة في التجارة الإلكترونية والحوسبة السحابية والذكاء الاصطناعي. وُصفت أمازون بأنها "واحدة من أكثر القوى الاقتصادية والثقافية نفوذاً في العالم".`,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
        },
        "faang",
        componentProps.customOptions,
      ),
      textBy(
        {
          fgm: {
            en: `Meta is a digital technology company whose products include Facebook, Messenger and Oculus. It has also acquired Giphy, Mapillary and Kustomer; And it owns 9.99% of Jio's Platforms business unit—an investment that should see Meta’s revenues grow over the next few years as users adopt their virtual reality product line across Asia`,
            it: ``,
            tr: ``,
            ro: ``,
            ar: ``,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
          ant: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: `يشار إلى الشركة باعتبارها واحدة من "الخمسة الكبار" شركات التكنولوجيا الأمريكية إلى جانب Alphabet و Apple و Meta و Microsoft.`,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
        },
        "faang",
        componentProps.customOptions,
      ),
      textBy(
        {
          fgm: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: ``,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
          ant: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: `أما أمازون ، التي أسسها جيف بيزوس في الأصل كمحل لبيع الكتب على الإنترنت في عام 1994 من مرآبه في بلفيو بواشنطن ، فقد توسعت لتشمل العديد من فئات المنتجات وحصلت على هذا اللقب`,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
        },
        "faang",
        componentProps.customOptions,
      ),
      textBy(
        {
          fgm: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: ``,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
          ant: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: `متجر كل شيء.`,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
        },
        "faang",
        componentProps.customOptions,
      ),
    ],
  },
  {
    title: textBy(
      {
        fgm: {
          en: `Google`,
          it: ``,
          tr: ``,
          ro: ``,
          ar: ``,
          de: ``,
          es: ``,
          sv: ``,
          pt: ``,
          fi: ``,
          pl: ``,
          hu: ``,
          th: ``,
          ms: ``,
          vi: ``,
        },
        ant: {
          en: ``,
          it: ``,
          tr: ``,
          ro: ``,
          ar: `NETFLIX`,
          de: ``,
          es: ``,
          sv: ``,
          pt: ``,
          fi: ``,
          pl: ``,
          hu: ``,
          th: ``,
          ms: ``,
          vi: ``,
        },
      },
      "faang",
      componentProps.customOptions,
    ),
    image:
      componentProps.customOptions.faang === "fgm" ? googleImage : netflixImage,
    paras: [
      textBy(
        {
          fgm: {
            en: `Google LLC is a multinational technology company that specializes in search engine technology, online advertising, cloud computing, computer software and artificial intelligence.`,
            it: ``,
            tr: ``,
            ro: ``,
            ar: ``,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
          ant: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: `Netflix، Inc. هي شركة ترفيهية متعددة الجنسيات تأسست عام 1997. تنتج الشركة وتوزع محتوى الوسائط عبر الإنترنت مثل العروض التلفزيونية والأفلام وفقًا لنموذج البث القائم على الاشتراك.`,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
        },
        "faang",
        componentProps.customOptions,
      ),
      textBy(
        {
          fgm: {
            en: `It has been referred to as "the most powerful company in the world," and one of the world's most valuable brands, due to its market dominance and technological advantages in artificial intelligence.`,
            it: ``,
            tr: ``,
            ro: ``,
            ar: ``,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
          ant: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: `ارتفع عدد مشتركي Netflix في جميع أنحاء العالم من 150 مليونًا في سبتمبر 2017 إلى 222 مليونًا بنهاية عام 2018.`,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
        },
        "faang",
        componentProps.customOptions,
      ),
      textBy(
        {
          fgm: {
            en: `Alphabet, the parent company of Google, is considered one of America's Big Five information technology companies—alongside Amazon, Apple, Microsoft and Facebook.`,
            it: ``,
            tr: ``,
            ro: ``,
            ar: ``,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
          ant: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: `وفقًا لمجلة Fortune ، احتلت الشركة المرتبة 115 في قائمة 500 لأكبر الشركات الأمريكية والمرتبة 219 على قوائم فوربس الدولية للشركات في جميع أنحاء العالم.`,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
        },
        "faang",
        componentProps.customOptions,
      ),
      textBy(
        {
          fgm: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: ``,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
          ant: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: `خلال العقد الأول من القرن الحادي والعشرين ، كان Netflix هو الأسهم الأفضل أداءً في مؤشر سوق الأسهم S&P 500 - حيث بلغ إجمالي عائده 3693٪ خلال ذلك العقد مما جعله أحد أشهر العلامات التجارية في أمريكا.`,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
        },
        "faang",
        componentProps.customOptions,
      ),
    ],
  },
  {
    title: textBy(
      {
        fgm: {
          en: `Microsoft`,
          it: ``,
          tr: ``,
          ro: ``,
          ar: ``,
          de: ``,
          es: ``,
          sv: ``,
          pt: ``,
          fi: ``,
          pl: ``,
          hu: ``,
          th: ``,
          ms: ``,
          vi: ``,
        },
        ant: {
          en: ``,
          it: ``,
          tr: ``,
          ro: ``,
          ar: `TESLA`,
          de: ``,
          es: ``,
          sv: ``,
          pt: ``,
          fi: ``,
          pl: ``,
          hu: ``,
          th: ``,
          ms: ``,
          vi: ``,
        },
      },
      "faang",
      componentProps.customOptions,
    ),
    image:
      componentProps.customOptions.faang === "fgm" ? googleImage : teslaImage,
    paras: [
      textBy(
        {
          fgm: {
            en: `Microsoft Corporation, or simply Microsoft, is an international computer software company based in Redmond, Washington.`,
            it: ``,
            tr: ``,
            ro: ``,
            ar: ``,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
          ant: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: `"Tesla، Inc. هي شركة متعددة الجنسيات تصنع وتبيع السيارات بالإضافة إلى أنظمة تخزين الطاقة. تأسست في عام 2003 من قبل Elon Musk بهدف إنشاء سيارات كهربائية بأسعار معقولة لمبيعات السوق الشامل.`,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
        },
        "faang",
        componentProps.customOptions,
      ),
      textBy(
        {
          fgm: {
            en: `The company was founded by Bill Gates and Paul Allen in April 1975, who then changed its name to Microsoft on June 25th 1981. Three years later they reverted back to using their current moniker.`,
            it: ``,
            tr: ``,
            ro: ``,
            ar: ``,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
          ant: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: `تسلا هي شركة رائدة في إنتاج سيارات الطاقة النظيفة ، حيث تتجاوز قيمتها السوقية 50 مليار دولار.`,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
        },
        "faang",
        componentProps.customOptions,
      ),
      textBy(
        {
          fgm: {
            en: `In 2022, Microsoft was also the largest company by stock market capitalization with a value of about $2288 billion. That same year it produced some of the world's most important software and sold more products than any other firm in its industry.`,
            it: ``,
            tr: ``,
            ro: ``,
            ar: ``,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
          ant: {
            en: ``,
            it: ``,
            tr: ``,
            ro: ``,
            ar: `حققت الشركة أعلى مبيعات في جميع أنحاء العالم من السيارات الكهربائية التي تعمل بالبطاريات والمركبات الكهربائية الموصولة بالكهرباء في عام 2021 ، حيث استحوذت على 21٪ من السوق العالمية لجميع البطاريات الكهربائية (الكهربائية البحتة) و 14٪ من تلك للمكونات الإضافية ، والتي تشمل كليهما سيارات كهربائية بالكامل بالإضافة إلى السيارات الهجينة ".`,
            de: ``,
            es: ``,
            sv: ``,
            pt: ``,
            fi: ``,
            pl: ``,
            hu: ``,
            th: ``,
            ms: ``,
            vi: ``,
          },
        },
        "faang",
        componentProps.customOptions,
      ),
    ],
  },
];
---

<section>
  {
    sections.map((section, index) => (
      <article class="mt-8 pb-8">
        <div
          class={`${index % 2 !== 0 ? "bg-secondary text-secondary-foreground" : "bg-primary text-primary-foreground"} py-2`}
        >
          <div class="container">
            <h2
              class="text-heading2 text-center font-bold"
              set:html={
                componentProps.features?.includes(Features.showcase)
                  ? showcase({
                      words: 3,
                    })
                  : section.title[componentProps.lang]
              }
            />
          </div>
        </div>
        <div class="container flex flex-col gap-4 pt-4 md:pt-8">
          <div class="flex flex-col gap-4">
            <Image
              src={section.image}
              alt={section.title[componentProps.lang]}
              class="self-center"
              widths={[320, section.image.width]}
              sizes={`320px`}
            />
            {section.paras.map((para) => (
              <p
                class="leading-tight lg:text-[20px]"
                set:html={
                  componentProps.features?.includes(Features.showcase)
                    ? showcase({
                        words: 30,
                      })
                    : para[componentProps.lang]
                }
              />
            ))}
          </div>
        </div>
      </article>
    ))
  }
</section>
