---
import type { CustomOptions } from "@/pages/index.astro";
import { Image } from "astro:assets";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import bg from "../assets/phone.png";

interface Props {
  componentProps: ComponentProps<any, CustomOptions>;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `<span class="text-white">Go further</span> and access Worldwide Exchanges:`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `اذهب إلى أبعد من ذلك وقم بالوصول إلى البورصات العالمية:`,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const para: TranslationsType = {
  en: `You can be a <strong>long-term investor by buying physical shares of any company</strong> you believe in. You can choose companies from the best US performing sectors, and their evolution will be reflected over time in the value of your portfolio.`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `يمكنك أن تكون مستثمرًا طويل الأجل عن طريق شراء أسهم مادية لأي شركة تؤمن بها. يمكنك اختيار شركات من أفضل القطاعات أداءً في الولايات المتحدة ، وسوف ينعكس تطورها بمرور الوقت على قيمة محفظتك.`,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section class="mt-8 pb-8">
  <div class="bg-secondary py-2">
    <div class="container">
      <h2
        class="text-heading2 text-center font-bold uppercase"
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 5,
              spanClasses: "text-white",
            })
          : title[componentProps.lang]}
      />
    </div>
  </div>
  <div class="container flex flex-col gap-4 pt-4 md:flex-row md:pt-8">
    <div class="grid place-items-center text-center md:text-start">
      <p
        class="text-para-lead text-balance"
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 30,
              spanClasses: "font-bold",
            })
          : para[componentProps.lang]}
      />
    </div>
    <div class="grid place-items-center md:w-[50%] md:min-w-[50%]">
      <Image
        src={bg}
        alt="Background"
        class=""
        widths={[320, bg.width]}
        sizes={`320px`}
      />
    </div>
  </div>
</section>
