---
import { type CustomOptions } from "@/pages/index.astro";
import MainLogo from "../../../../globals/components/logos/MainLogo.astro";
import { type ComponentProps } from "../../../../globals/types/component-props";

interface Props {
  componentProps: ComponentProps<any, CustomOptions>;
}
const { componentProps } = Astro.props;
---

<header
  id="header"
  class={`bg-[repeating-linear-gradient(-45deg,var(--color-black),var(--color-black)_1px,var(--color-gray-900)_2px,var(--color-gray-900)_4px)] bg-black py-5`}
>
  <div
    class="container grid place-items-center text-white lg:place-items-start"
  >
    <MainLogo
      size={componentProps.brandObj.nameToLower}
      logo={componentProps.logo()}
      square={componentProps.customOptions?.logoSquare}
    />
  </div>
</header>
