---
import { Button } from "@/components/ui/button";
import Form from "../../../../globals/components/form";
import type { ComponentProps } from "../../../../globals/types/component-props";
import Visa from "../../../../globals/components/logos/misc/Visa/Visa.astro";
import Skrill from "../../../../globals/components/logos/misc/Skrill/Skrill.astro";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;
---

<section
  id="section6"
  class="section6 bg-custom-background py-4 md:py-6 lg:py-8 2xl:py-16"
>
  <div
    class="container flex flex-wrap items-center justify-around [&>svg]:max-h-[40px] [&>svg]:w-auto gap-8"
  >
    <Visa />
    <Skrill />
  </div>
</section>
