---
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";
import background from "../assets/s1-bg.png";
import { showcase } from "../../../../globals/features/showcase/text";
import { Features } from "../../../../globals/types/enums";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const bullets: {
  title: TranslationsType;
  para: TranslationsType;
}[] = [
  {
    title: textBy(
      {
        default: {
          en: "100% Reliability",
          it: "",
          tr: "",
          ro: "",
          ar: `موثوقية 100%`,
          de: "",
          es: "100% Confiabilidad",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: ``,
          de: "",
          es: "",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
    para: textBy(
      {
        default: {
          en: "Receive signals prepared for you by Trading Central, the industry’s leading analysts.",
          it: "",
          tr: "",
          ro: "",
          ar: "استلم إشارات مُعدّة من قبل Trading Central، أبرز المحللين في هذا المجال.",
          de: "",
          es: "Recibe señales preparadas por Trading Central, los analistas líderes del sector.",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: ``,
          de: "",
          es: "",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
  },
  {
    title: textBy(
      {
        default: {
          en: "92% precision",
          it: "",
          tr: "",
          ro: "",
          ar: "دقة 92%",
          de: "",
          es: "92% de precisión",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: ``,
          de: "",
          es: "",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
    para: textBy(
      {
        default: {
          en: "With a daily accuracy of 92%.",
          it: "",
          tr: "",
          ro: "",
          ar: "بدقة يومية تصل إلى 92%.",
          de: "",
          es: "Con una precisión diaria del 92%.",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: ``,
          de: "",
          es: "",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
  },
  {
    title: textBy(
      {
        default: {
          en: "100% Free",
          it: "",
          tr: "",
          ro: "",
          ar: "مجاني 100%",
          de: "",
          es: "100% GRATIS",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: ``,
          de: "",
          es: "",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
    para: textBy(
      {
        default: {
          en: "FREE access to real-time trading signals.",
          it: "",
          tr: "",
          ro: "",
          ar: "وصول مجاني إلى إشارات تداول في الوقت الفعلي.",
          de: "",
          es: "Acceso GRATUITO a señales de trading en tiempo real.",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: ``,
          de: "",
          es: "",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
  },
];
---

<section id="section1" class="section1 py-custom-spacing relative text-white">
  <Image
    src={background}
    alt="Background"
    class={cn(
      "absolute inset-0 z-0 h-full w-full object-cover pointer-events-none",
      componentProps.lang === "ar" ? "scale-x-[-1] " : "",
    )}
    widths={[320, 576, 640, 768, 1024, 1280, 1536, background.width]}
    sizes={`100vw`}
    loading={"eager"}
  />
  <div class="relative z-20">
    <div class="container">
      <div class="gap-y-custom-spacing -mx-4 flex flex-wrap justify-between">
        {
          bullets.map((bullet) => (
            <div class="flex flex-col px-4 xl:w-4/12 xl:items-center xl:gap-[calc(var(--spacing-custom-spacing)_/_2)] xl:text-center">
              <h3
                set:html={
                  componentProps.features?.includes(Features.showcase)
                    ? showcase({
                        words: 2,
                      })
                    : bullet.title[componentProps.lang]
                }
                class="text-secondary text-heading2 mt-auto font-black uppercase"
              />
              <p
                set:html={
                  componentProps.features?.includes(Features.showcase)
                    ? showcase({
                        words: 10,
                      })
                    : bullet.para[componentProps.lang]
                }
                class="text-custom-size my-auto text-balance"
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
