---
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import FormWrapper from "./FormWrapper.astro";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const formTitle: TranslationsType = {
  en: `Talk to us for more details`,
  it: "",
  tr: "",
  ro: "",
  ar: `"اسألنا عن كيفية الاستثمار في أمازون`,
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const formButton: TranslationsType = {
  en: `Register Now`,
  it: "",
  tr: "",
  ro: "",
  ar: "البدء",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};
---

<div class="relative z-20 hidden md:block">
  <FormWrapper
    componentProps={componentProps}
    title={componentProps.features?.includes(Features.showcase)
      ? showcase({ words: 3 })
      : formTitle[componentProps.lang]}
    buttonLabel={componentProps.features?.includes(Features.showcase)
      ? showcase({ words: 2 })
      : formButton[componentProps.lang]}
    id="sectionForm"
  />
</div>
