---
import { Image } from "astro:assets";
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";
import laptopDude from "../assets/laptopdude.png";
import phones from "../assets/phones.png";
import { Button, buttonVariants } from "./ui/button";
import { cn } from "@/lib/utils";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: {
      en: `Interactive online webinars`,
      it: `Webinar online interattivi`,
      tr: `Etkileşimli çevrimiçi web seminerleri`,
      ro: `Webinarii online interactive`,
      ar: `ندوات تفاعلية عبر الإنترنت`,
      de: `Interaktive Online-Webinare`,
      es: `Webinarios en línea interactivos`,
      sv: `Interaktiva onlinewebbinarier`,
      pt: `Webinars online interativos`,
      fi: `Interaktiiviset verkkoseminaarit`,
      pl: `Interaktywne webinaria online`,
      hu: `Interaktív online webináriumok`,
      th: `เว็บบินาร์ออนไลน์แบบโต้ตอบ`,
      ms: `Webinar dalam talian interaktif`,
      vi: `Hội thảo trực tuyến tương tác`,
    },
    "payment-authorization": {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `مخططات متقدمة. ميزة آنية في التداول`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  "designVersion",
  componentProps.customOptions,
);

const para1: TranslationsType = textBy(
  {
    default: {
      en: `Engage with our mentors during live online webinars. Whether it’s learning a new strategy or understanding the latest market trend, our webinars offer real-time Q&A sessions for instant feedback and approach topics ranging from foundational knowledge to advanced strategies.`,
      it: `Interagisci con i nostri mentori durante i webinar in diretta. Che si tratti di apprendere una nuova strategia o di comprendere le ultime tendenze di mercato, i nostri webinar offrono sessioni di Q&A in tempo reale per un feedback immediato e coprono argomenti che spaziano dalle basi alle strategie avanzate.`,
      tr: `Deneyimli mentorlarımızın yönettiği canlı çevrimiçi web seminerlerimize katılın. Temelleri öğrenmek ya da ileri stratejilere derinlemesine dalmak istiyorsanız, oturumlarımız etkileşimli, ilgi çekici ve anında geri bildirim için tasarlanmıştır. Soru-Cevaplara katılın, piyasa trendlerinden haberdar olun ve gerçek etki yaratan bir eğitim deneyimi yaşayın.`,
      ro: `Participă la webinarii online live conduse de mentori experimentați. Fie că vrei să stăpânești bazele sau să aprofundezi strategii avansate, sesiunile noastre sunt interactive, captivante și concepute pentru feedback instantaneu. Participă la sesiuni de întrebări și răspunsuri, fii la curent cu tendințele pieței și experimentează o educație cu adevărat impactantă.`,
      ar: `انضم إلى ندواتنا التفاعلية المباشرة عبر الإنترنت التي يقودها مرشدون ذوو خبرة. سواء أردت إتقان الأساسيات أو الغوص في استراتيجيات متقدمة، جلساتنا تفاعلية وجذابة ومصممة لتقديم ردود فعل فورية. شارك في جلسات الأسئلة والأجوبة، وابق على اطلاع باتجاهات السوق، واختبر تعليمًا يحدث فرقًا حقيقيًا.`,
      de: `Nehmen Sie an unseren Live-Online-Webinaren teil, die von erfahrenen Mentoren geleitet werden. Egal, ob Sie die Grundlagen beherrschen oder tief in fortgeschrittene Strategien eintauchen möchten, unsere Sitzungen sind interaktiv, ansprechend und auf sofortiges Feedback ausgelegt. Nehmen Sie an Fragen-und-Antworten teil, bleiben Sie über Markttrends informiert und erleben Sie Bildung, die einen echten Unterschied macht.`,
      es: `Únete a nuestros webinars en línea en vivo dirigidos por mentores experimentados. Ya sea que quieras dominar lo básico o profundizar en estrategias avanzadas, nuestras sesiones son interactivas, atractivas y diseñadas para brindar retroalimentación instantánea. Participa en preguntas y respuestas, mantente al día con las tendencias del mercado y experimenta una educación que realmente impacta.`,
      sv: `Delta i våra live online-webbinarier som leds av erfarna mentorer. Oavsett om du vill behärska grunderna eller fördjupa dig i avancerade strategier är våra sessioner interaktiva, engagerande och utformade för omedelbar feedback. Delta i frågestunder, håll dig uppdaterad om marknadstrender och upplev utbildning som verkligen gör skillnad.`,
      pt: `Participe dos nossos webinars online ao vivo conduzidos por mentores experientes. Quer dominar o básico ou aprofundar-se em estratégias avançadas, nossas sessões são interativas, envolventes e projetadas para feedback instantâneo. Participe de perguntas e respostas, mantenha-se atualizado sobre as tendências do mercado e experimente uma educação que realmente faz a diferença.`,
      fi: `Osallistu kokeneiden mentorien vetämiin live-verkkoseminaareihimme. Haluatpa hallita perusteet tai syventyä edistyneisiin strategioihin, istuntomme ovat interaktiivisia, mukaansatempaavia ja suunniteltu tarjoamaan välitöntä palautetta. Osallistu kysymys- ja vastaussessioihin, pysy ajan tasalla markkinatrendeistä ja koe koulutus, joka todella vaikuttaa.`,
      pl: `Dołącz do naszych webinarów online na żywo prowadzonych przez doświadczonych mentorów. Niezależnie od tego, czy chcesz opanować podstawy, czy zagłębić się w zaawansowane strategie, nasze sesje są interaktywne, angażujące i zaprojektowane tak, aby zapewnić natychmiastową informację zwrotną. Weź udział w sesjach pytań i odpowiedzi, bądź na bieżąco z trendami rynkowymi i doświadcz edukacji, która naprawdę robi różnicę.`,
      hu: `Vegyen részt élő online webinárjainkon, amelyeket tapasztalt mentorok vezetnek. Akár az alapokat szeretné elsajátítani, akár mélyebben belemerülni a fejlett stratégiákba, az üléseink interaktívak, lebilincselők, és azonnali visszacsatolásra tervezték őket. Vegyen részt kérdezz-felelek szekciókon, maradjon naprakész a piaci trendekkel, és élje át az oktatást, amely valódi hatást gyakorol.`,
      th: `เข้าร่วมเว็บบินาร์ออนไลน์สดของเราที่นำโดยที่ปรึกษาที่มีประสบการณ์ ไม่ว่าคุณจะต้องการเรียนรู้พื้นฐานหรือเจาะลึกกลยุทธ์ขั้นสูง เซสชันของเราเป็นแบบโต้ตอบ น่าสนใจ และออกแบบมาเพื่อรับข้อเสนอแนะทันที เข้าร่วมถามตอบ ติดตามเทรนด์ตลาด และสัมผัสประสบการณ์การศึกษาที่สร้างผลกระทบจริง ๆ`,
      ms: `Sertai webinar dalam talian langsung kami yang dikendalikan oleh mentor berpengalaman. Sama ada anda ingin menguasai asas-asas atau mendalami strategi lanjutan, sesi kami adalah interaktif, menarik, dan direka untuk maklum balas segera. Sertai sesi soal jawab, kekal terkini dengan tren pasaran, dan alami pendidikan yang memberi impak sebenar.`,
      vi: `Tham gia các hội thảo trực tuyến trực tiếp do các cố vấn giàu kinh nghiệm dẫn dắt. Cho dù bạn muốn làm chủ các kiến thức cơ bản hay đi sâu vào các chiến lược nâng cao, các buổi học của chúng tôi đều mang tính tương tác, hấp dẫn và được thiết kế để phản hồi tức thì. Tham gia hỏi đáp, cập nhật các xu hướng thị trường và trải nghiệm giáo dục tạo nên sự khác biệt thực sự.`,
    },
    "payment-authorization": {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `ارتقِ بتجربتك في التداول إلى المستوى التالي مع تطبيق TradingView — منصة قوية يعتمد عليها ملايين المستخدمين حول العالم. بفضل أدوات التحليل البياني المتقدمة، ودعم الشاشات المتعددة بسلاسة، وبيانات حية من الأسواق العالمية، ستحصل على رؤية أعمق وتنفيذ أسرع للصفقات.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  "designVersion",
  componentProps.customOptions,
);

const para2: TranslationsType = textBy(
  {
    default: {
      en: `Join now, to be able to participate in our webinars and ensure every session is engaging, personal, and effective.`,
      it: `Unisciti subito per partecipare ai nostri webinar e assicurarti sessioni coinvolgenti, personalizzate ed efficaci.`,
      tr: `Şimdi katılın, webinarlarımıza katılabilmek ve her oturumun ilgi çekici, kişisel ve etkili olmasını sağlamak için.`,
      ro: `Înscrie-te acum pentru a putea participa la webinariile noastre și pentru a te asigura că fiecare sesiune este captivantă, personală și eficientă.`,
      ar: `انضم الآن لتتمكن من المشاركة في ندواتنا عبر الإنترنت وضمان أن تكون كل جلسة جذابة وشخصية وفعالة.`,
      de: `Melden Sie sich jetzt an, um an unseren Webinaren teilnehmen zu können und sicherzustellen, dass jede Sitzung ansprechend, persönlich und effektiv ist.`,
      es: `Únete ahora para poder participar en nuestros webinars y asegurar que cada sesión sea atractiva, personal y efectiva.`,
      sv: `Gå med nu för att kunna delta i våra webbinarier och säkerställa att varje session är engagerande, personlig och effektiv.`,
      pt: `Junte-se agora para poder participar dos nossos webinars e garantir que cada sessão seja envolvente, pessoal e eficaz.`,
      fi: `Liity nyt, jotta voit osallistua webinaareihimme ja varmistaa, että jokainen sessio on mukaansatempaava, henkilökohtainen ja tehokas.`,
      pl: `Dołącz teraz, aby móc uczestniczyć w naszych webinarach i mieć pewność, że każda sesja jest angażująca, osobista i skuteczna.`,
      hu: `Csatlakozz most, hogy részt vehess webinárjainkon, és biztosítsd, hogy minden alkalom érdekes, személyes és hatékony legyen.`,
      th: `สมัครตอนนี้เพื่อเข้าร่วมเว็บบินาร์ของเราและทำให้แต่ละเซสชันน่าสนใจ เป็นส่วนตัว และได้ผลจริง`,
      ms: `Sertai sekarang untuk dapat menyertai webinar kami dan memastikan setiap sesi menarik, peribadi, dan berkesan.`,
      vi: `Tham gia ngay để có thể tham gia các hội thảo trực tuyến của chúng tôi và đảm bảo mỗi buổi đều hấp dẫn, cá nhân và hiệu quả.`,
    },
    "payment-authorization": {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `خصّص مساحة عملك، وتتبّع تحرّكات الأسعار بدقة، وراقب الاتجاهات كما يفعل المحترفون. سواء كنت تتداول يوميًا أو تطوّر استراتيجيات طويلة الأجل، فإن TradingView يمنحك الوضوح والتحكم اللذين تحتاجهما لتكون دائمًا في المقدمة.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  "designVersion",
  componentProps.customOptions,
);

const buttonLabel: TranslationsType = textBy(
  {
    default: {
      en: `Join now`,
      it: `Partecipa ora`,
      tr: `Şimdi katıl`,
      ro: `Înscrie-te acum`,
      ar: `انضم الآن`,
      de: `Jetzt teilnehmen`,
      es: `Únete ahora`,
      sv: `Gå med nu`,
      pt: `Junte-se agora`,
      fi: `Liity nyt`,
      pl: `Dołącz teraz`,
      hu: `Csatlakozz most`,
      th: `เข้าร่วมตอนนี้`,
      ms: `Sertai sekarang`,
      vi: `Tham gia ngay`,
    },
    "payment-authorization": {
      en: `Join now`,
      it: `Partecipa ora`,
      tr: `Şimdi katıl`,
      ro: `Înscrie-te acum`,
      ar: `انضم الآن`,
      de: `Jetzt teilnehmen`,
      es: `Únete ahora`,
      sv: `Gå med nu`,
      pt: `Junte-se agora`,
      fi: `Liity nyt`,
      pl: `Dołącz teraz`,
      hu: `Csatlakozz most`,
      th: `เข้าร่วมตอนนี้`,
      ms: `Sertai sekarang`,
      vi: `Tham gia ngay`,
    },
  },
  "designVersion",
  componentProps.customOptions,
);
---

<section
  id="webinars"
  class="bg-primary text-primary-foreground relative overflow-hidden py-8 xl:py-16"
>
  <div class="relative z-10 container flex flex-col gap-1 xl:flex-row">
    <div class="flex flex-col items-start justify-center gap-8 xl:max-w-[90ch]">
      <h2
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 5,
            })
          : title[componentProps.lang]}
        class="leading-heading2 text-heading2 text-accent font-extrabold text-balance uppercase"
      />
      <p
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 30,
            })
          : para1[componentProps.lang]}
        class="text-para-lead text-balance"
      />

      <p
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 15,
            })
          : para2[componentProps.lang]}
        class="text-para-lead text-balance"
      />

      <ButtonDisclaimer
        componentProps={componentProps}
        disclaimer={{
          active: false,
        }}
      >
        {
          componentProps.customOptions?.designVersion ===
          "payment-authorization" ? (
            <a
              href={"#testimonials"}
              set:html={
                componentProps.features?.includes(Features.showcase)
                  ? showcase({
                      words: 2,
                    })
                  : buttonLabel[componentProps.lang]
              }
              class={cn(
                buttonVariants({ variant: "secondary" }),
                "h-auto cursor-pointer gap-4 px-16 py-4 text-lg font-bold text-white uppercase md:px-20 md:py-6 lg:text-2xl",
              )}
            />
          ) : (
            <Button
              variant={"secondary"}
              className={
                "js-modal-trigger h-auto cursor-pointer gap-4 px-16 py-4 text-lg font-bold text-white uppercase md:px-20 md:py-6 lg:text-2xl"
              }
              set:html={
                componentProps.features?.includes(Features.showcase)
                  ? showcase({
                      words: 2,
                    })
                  : buttonLabel[componentProps.lang]
              }
            />
          )
        }
      </ButtonDisclaimer>
    </div>
    <div class="relative grow">
      <Image
        src={componentProps.lang === "ar" ? phones : laptopDude}
        alt="Background"
        class="bottom-0 -mb-10 w-full max-w-[350px] xl:absolute xl:h-[560px] xl:w-auto xl:max-w-none"
        widths={[320, 576, 640, 768, 1024, 1280, 1536, laptopDude.width]}
        sizes={`
          (max-width: 640px) 640px,
          100vw
        `}
      />
    </div>
  </div>
</section>

<style>
  ul {
    counter-reset: bullet;
  }

  li::before {
    counter-increment: bullet;
    content: counter(bullet) ". ";
  }
</style>
