---
import CarouselWrapper from "@/components/CarouselWrapper";
import type { Slide } from "@/types/slide";
import { Image } from "astro:assets";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import logo01 from "../assets/carousel/01-amazon.png";
import logo02 from "../assets/carousel/02-american_express.png";
import logo03 from "../assets/carousel/03-apple.png";
import logo04 from "../assets/carousel/04-visa.png";
import logo05 from "../assets/carousel/05-tesla.png";
import logo06 from "../assets/carousel/06-walmart.png";
import logo07 from "../assets/carousel/07-IBM.png";
import logo08 from "../assets/carousel/08-disney.png";
import logo09 from "../assets/carousel/09-meta.png";
import logo10 from "../assets/carousel/10-exonmobil.png";
import logo11 from "../assets/carousel/11-cocacola.png";
import logo12 from "../assets/carousel/12-citi.png";
import logo13 from "../assets/carousel/13-jpmorgan.png";
import logo14 from "../assets/carousel/14-mac.png";
import logo15 from "../assets/carousel/15-microsoft.png";
import logo16 from "../assets/carousel/16-netflix.png";
import logo17 from "../assets/carousel/17-nike.png";
import logo18 from "../assets/carousel/18-pepsi.png";
import logo19 from "../assets/carousel/19-Q.png";
import logo20 from "../assets/carousel/20-starbukz.png";
import bg from "../assets/sliderbg-desktop.jpg";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `The more you know, the better you invest`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `كلما عرفت أكثر ، كلما استثمرت بشكل أفضل`,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const slides: Slide[] = [
  {
    image: logo01,
    para: {
      en: `<strong class="text-secondary font-bold">Amazon (AMZ)</strong> Amazon is an American multinational technology company that specializes in e-commerce, cloud computing, and artificial intelligence.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `أمازون(AMZ) Amazon هي شركة تقنية أمريكية متعددة الجنسيات متخصصة في التجارة الإلكترونية والحوسبة السحابية والذكاء الاصطناعي.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo02,
    para: {
      en: `<strong class="text-secondary font-bold">American Express (AXP)</strong> Often referred to by the acronym Amex or Amexco, it is an Americancompany that operates in the financial and travel sectors.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `أمريكان إكسبريس(AXP) أمريكان إكسبريس ، غالبًا ما يشار إليها بالاختصار Amex أو Amexco ، هي شركة أمريكية متعددة الجنسيات للخدمات المتنوعة تعمل في قطاعي المال والسفر.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo03,
    para: {
      en: `<strong class="text-secondary font-bold">Apple (AAPL)</strong> It is one of the world's most valuable businesses overall with a market cap well over three times that of Walmart™ or Amazon®.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `Apple (AAPL)بحلول يونيو 2022 ، جعل هذا شركة Apple Incorporated America أكبر شركة في أمريكا.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo04,
    para: {
      en: `<strong class="text-secondary font-bold">Visa: (V)</strong> It is a digital payment technology company whose products and services include Visa credit, debit, and prepaid card offerings to individuals.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `Visa: (V) Visa Inc. هي شركة تكنولوجيا دفع رقمية تشتمل منتجاتها وخدماتها على ائتمان Visa وبطاقات الخصم وعروض البطاقات المدفوعة مسبقًا للأفراد`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo05,
    para: {
      en: `<strong class="text-secondary font-bold">Tesla (TSLA)</strong> The company had the highest worldwide sales of battery-electric vehicles and plug-in electric vehicles in 2021.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `تسلا(TSLA) حققت الشركة أعلى مبيعات عالمية للسيارات التي تعمل بالبطاريات والمركبات الكهربائية الموصولة بالكهرباء في عام`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo06,
    para: {
      en: `<strong class="text-secondary font-bold">Walmart (WMT)</strong> In May 2022, Fortune magazine ranked Walmart as the world's largest company by revenue—it brought in about $570 billion annually.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `وول مارت(WMT) : في مايو 2022 ، صنفت مجلة Fortune Walmart كأكبر شركة في العالم من حيث الإيرادات - فقد جلبت حوالي 570 مليار دولار أمريكي سنويًا`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo07,
    para: {
      en: `<strong class="text-secondary font-bold">IBM (IBM)</strong> is one of 30 companies included in the Dow Jones Industrial Average, which also includes some unusual and lesser-known companies.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `آي بي إم(IBM) آي بي إم هي واحدة من 30 شركة مدرجة في مؤشر داو جونز الصناعي ، والذي يتضمن أيضًا بعض الشركات غير العادية وغير المعروفة.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo08,
    para: {
      en: `<strong class="text-secondary font-bold">Disney</strong>: In 1991 it became part of the Dow Jones Industrial Average and by 2020 65% of all shares were owned by large financial institutions.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `ديزني(DIS) في عام 1991 أصبحت جزءًا من مؤشر داو جونز الصناعي وبحلول عام 2020 ، كان ما يقرب من ثلثي من جميع الأسهم مملوكة لمؤسسات مالية كبيرة.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo09,
    para: {
      en: `<strong class="text-secondary font-bold">Meta Platforms Inc (META)</strong> The company owns a number of popular products and services, including Facebook, Instagram, and WhatsApp.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `Meta Platforms Inc (META)تمتلك الشركة العديد من المنتجات والخدمات الشهيرة ، بما في ذلك Facebook و Instagram و WhatsApp.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo10,
    para: {
      en: `<strong class="text-secondary font-bold">ExxonMobil Chemical (XOM)</strong> It is one of the largest chemical companies in the world.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `إكسون موبيل كيميكال(XOM) هي واحدة من أكبر شركات الكيماويات في العالم`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo11,
    para: {
      en: `<strong class="text-secondary font-bold">Coca Cola (COKE)</strong> In 2013, beverages bearing the trademark "Coca-Cola" or "Coke” accounted for around 55% of its total gallon sales.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `كوكا كولا(COKE) في عام 2013 ، شكلت المشروبات التي تحمل العلامة التجارية "Coca-Cola" أو "Coke" حوالي 55٪ من إجمالي مبيعات غالوناتها.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo12,
    para: {
      en: `<strong class="text-secondary font-bold">Citigroup (C)</strong> By 2020, it was one of the largest securities services providers in the world, holding over $23.6 trillion worth assets under custody.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `Citigroup (C)تمتلك الشركة ما يقرب من 200 مليون حساب عملاء وتقوم بأعمال في أكثر من 160 دولة.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo13,
    para: {
      en: `<strong class="text-secondary font-bold">JPMorgan Chase (JPM)</strong> JPMorgan Chase has more than 6,500 offices in 70 countries around the world.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `JPMorgan Chase (JPM) تمتلك JPMorgan Chase أكثر من 6500 مكتبًا في 70 دولة حول العالم. يقع المقر الرئيسي للشركة في مدينة نيويورك.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo14,
    para: {
      en: `<strong class="text-secondary font-bold">McDonald’s (MCD)</strong> As of March 22, 2017 McDonald's brand value was $82.5 billion, making it the world's sixth-most valuable brand (up from 8 in 2016).`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `ماكدونالدز(MCD) اعتبارًا من 22 مارس 2017 ، بلغت قيمة علامة ماكدونالدز التجارية 82.5 مليار دولار ، مما يجعلها سادس أعلى علامة تجارية في العالم من حيث القيمة.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo15,
    para: {
      en: `<strong class="text-secondary font-bold">Microsoft (MSFT)</strong> Microsoft's most well-known products include the Windows operating system and Office suite.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `Microsoft (MSFT)تشمل منتجات Microsoft الأكثر شهرة نظام التشغيل Windows ومجموعة Office`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo16,
    para: {
      en: `<strong class="text-secondary font-bold">Netflix (NFLX)</strong> During the 2010s, Netflix was the top-performing stock in the S&P 500 stock market index.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `(NFLX) Netflixخلال العقد الأول من القرن الحادي والعشرين ، كان Netflix هو السهم الأفضل أداءً في مؤشر سوق الأسهم SP& 500`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo17,
    para: {
      en: `<strong class="text-secondary font-bold">Nike (NKE)</strong> The company manufactures sports equipment and clothing, and runs retail stores under the Niketown name.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `نايكي(NKE) تقوم الشركة بتصنيع المعدات والملابس الرياضية ، وتدير متاجر البيع بالتجزئة تحت اسم نيكيتاون.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo18,
    para: {
      en: `<strong class="text-secondary font-bold">Pepsi (PEP)</strong>: PepsiCo is the second-largest food and beverage business in the world, with a market capitalization of $120 billion (behind Nestlé).`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `بيبسي(PEP) PepsiCo هي ثاني أكبر شركة للأغذية والمشروبات في العالم ، برأسمال سوقي قدره 120 مليار دولار (خلف شركة نستله).`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo19,
    para: {
      en: `<strong class="text-secondary font-bold">Qualcomm (QCOM)</strong> It owns patents related to mobile communications standards such as 5G (5th generation), 4G (4th generation) and WCDMA.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `(QCOM) Qualcomm تمتلك Qualcomm براءات الاختراع المتعلقة بمعايير الاتصالات المتنقلة مثل 5G (الجيل الخامس) و 4G (الجيل الرابع) و WCDMA.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    image: logo20,
    para: {
      en: `<strong class="text-secondary font-bold">Starbucks (SBUX)</strong> Starbucks opened its world-record holding roastery in Chicago's Magnificent Mile district in November 2019.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `ستاربكس(SBUX) افتتحت ستاربكس محمصة تحمل الرقم القياسي العالمي في منطقة Magnificent Mile بشيكاغو في نوفمبر 2019.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
];
---

<section
  class="relative flex flex-col gap-8 pb-4 sm:pb-7 md:pb-9 lg:pb-10 xl:pb-12"
>
  <div class="bg-secondary text-secondary-foreground py-2 text-center">
    <div class="container">
      <h2
        class="text-heading2 font-black uppercase"
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 5,
            })
          : title[componentProps.lang]}
      />
    </div>
  </div>
  <div class="bg-primary text-background relative">
    <Image
      src={bg}
      alt="Background"
      class="absolute inset-0 z-0 h-full w-full object-cover object-left md:object-center"
      widths={[320, 576, 640, 768, 1024, 1280, 1536, bg.width]}
      sizes={`
          (max-width: 320px) 576px,
          (max-width: 576px) 640px,
          (max-width: 640px) 768px,
          (max-width: 768px) 1024px,
          (max-width: 1024px) 1280px,
          (max-width: 1280px) 1536px,
          100vw
        `}
    />
    <div class="relative z-10 container overflow-hidden py-2">
      <CarouselWrapper slides={slides} lang={componentProps.lang} client:load />
    </div>
  </div>
</section>
