---
import { cn } from "@/lib/utils";
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { Button } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Why trading signals matters?`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: `Por qué las señales de trading son importantes?`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const para: TranslationsType = {
  en: `Navigating the fast-moving world of trading requires more than just intuition. Professional trading signals deliver timely, data-driven insights that help you identify opportunities and make smarter decisions. Whether you're exploring new markets or refining your strategy, signals offer clarity, confidence, and a structured approach to trading. They act as a guide in uncertain conditions, helping you stay focused and informed every step of the way.`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: `Navegar en el mundo acelerado del trading requiere más que solo intuición. Las señales de trading profesionales ofrecen información oportuna basada en datos que te ayudan a identificar oportunidades y tomar decisiones más inteligentes. Ya sea que estés explorando nuevos mercados o perfeccionando tu estrategia, las señales brindan claridad, confianza y un enfoque estructurado al trading. Actúan como una guía en condiciones inciertas, ayudándote a mantenerte enfocado e informado en cada paso.`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const buttonLabel: TranslationsType = {
  en: `Register for access`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: `Regístrate para acceder`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section id="section1" class="section1 py-custom-spacing">
  <div class="space-y-custom-spacing container">
    <h2
      set:html={title[componentProps.lang]}
      class="text-heading2 text-center font-black text-balance uppercase"
    />

    <p set:html={para[componentProps.lang]} class="text-para-lead" />

    <ButtonDisclaimer
      componentProps={componentProps}
      disclaimer={{
        active: true,
      }}
      className="mx-auto"
    >
      <Button
        className={cn(
          "js-modal-trigger h-auto w-full max-w-full cursor-pointer px-8 py-4 font-bold whitespace-normal uppercase",
        )}
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 2,
            })
          : buttonLabel[componentProps.lang]}
      />
    </ButtonDisclaimer>
  </div>
</section>
