---
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { textBy } from "../../../../globals/utils/text-by";
import type { TranslationsType } from "../../../../globals/types/translations";
import bg from "../assets/s1-bg.png";
import { showcase } from "../../../../globals/features/showcase/text";
import { Features } from "../../../../globals/types/enums";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: {
      en: "<span class='text-secondary block'>Free trading signals.</span> Identify trading opportunities.",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "<span class='text-secondary block'>Señales de trading gratuitas.</span> Identificar oportunidades de trading.",
      sv: ``,
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);

const paraLead: TranslationsType = textBy(
  {
    default: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);

const para: TranslationsType = textBy(
  {
    default: {
      en: `Every trader would like to have tips when investing on the financial markets. ${componentProps.brandObj.name} provides you with easy-to-follow, FREE Trading Signals, and real-time results. Use this opportunity to improve your trading strategy and maximize your potential. We are sending trading signals directly to your smartphone or to your email.`,
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: `Todo trader desea contar con consejos al invertir en los mercados financieros. ${componentProps.brandObj.name} te ofrece Señales de Trading GRATUITAS, fáciles de seguir y con resultados en tiempo real. Aprovecha esta oportunidad para mejorar tu estrategia de trading y maximizar tu potencial. Enviamos las señales de trading directamente a tu smartphone o correo electrónico.`,
      sv: ``,
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);
---

<section
  id="section1"
  class="section1 relative overflow-hidden border-y-8 border-stone-500 lg:border-0"
>
  <Image
    src={bg}
    alt="Apple Laptop Diploma"
    class="absolute z-0 h-full w-full object-cover"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, bg.width]}
    sizes={`
      (max-width: 320px) 576px,
      (max-width: 576px) 768px,
      (max-width: 768px) 1024px,
      (max-width: 1024px) 1536px,
      100vw
    `}
  />
  <div class="absolute z-10 h-full w-full bg-zinc-800/60 xl:hidden"></div>
  <div class="relative z-20 container flex flex-col gap-4 lg:flex-row">
    <div
      class="relative z-20 flex grow items-center justify-center py-9 text-center lg:z-0 lg:w-[50%] lg:min-w-[50%] lg:justify-start lg:p-0 lg:text-start"
    >
      <div class={cn(`flex  max-w-[65ch] flex-col gap-4 text-white lg:py-10`)}>
        <h1
          class={cn(`text-heading1 uppercase font-black`)}
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 10,
                // spanClasses: "text-secondary block",
              })
            : title[componentProps.lang]}
        />
        {
          paraLead[componentProps.lang] && (
            <p
              class={cn("text-heading1 uppercase")}
              set:html={
                componentProps.features?.includes(Features.showcase)
                  ? showcase({
                      words: 5,
                      // spanClasses: "text-secondary block",
                    })
                  : paraLead[componentProps.lang]
              }
            />
          )
        }
        <p
          class="text-start"
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 50,
                // spanClasses: "text-secondary block",
              })
            : para[componentProps.lang]}
        />
      </div>
    </div>
  </div>
</section>
