---
import { cn } from "@/lib/utils";
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { buttonVariants } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const button: TranslationsType = {
  en: `Open an account now`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `افتح حسابًا الآن`,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: `Zasubskrybuj`,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section class="py-4 sm:py-8 md:py-9 lg:py-10 xl:py-12 2xl:py-14">
  <div class="container">
    <ButtonDisclaimer className="mx-auto" componentProps={componentProps}>
      <a
        class={cn(buttonVariants({ variant: "default" }), "font-bold", "p-6")}
        href="#formWrapper"
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 2,
            })
          : button[componentProps.lang]}
      />
    </ButtonDisclaimer>
  </div>
</section>
