---
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: "Privacy Policy",
  it: "Informativa sulla Privacy",
  tr: "Gizlilik Politikası",
  ro: "Politica de Confidențialitate",
  ar: "سياسة الخصوصية",
  de: "Datenschutzrichtlinie",
  es: "Política de Privacidad",
  sv: "Integritetspolicy",
  pt: "Política de Privacidade",
  fi: "Tietosuojakäytäntö",
  pl: "Polityka Prywatności",
  hu: "Adatvédelmi Szabályzat",
  th: "นโยบายความเป็นส่วนตัว",
  ms: "Dasar Privasi",
  vi: "Chính sách Bảo mật",
};

const infoSection1: {
  title: TranslationsType;
  paras?: TranslationsType[];
  list?: TranslationsType[];
} = {
  title: {
    en: "Introduction",
    it: "Introduzione",
    tr: "Giriş",
    ro: "Introducere",
    ar: "مقدمة",
    de: "Einleitung",
    es: "Introducción",
    sv: "Introduktion",
    pt: "Introdução",
    fi: "Johdanto",
    pl: "Wprowadzenie",
    hu: "Bevezetés",
    th: "บทนำ",
    ms: "Pengenalan",
    vi: "Giới thiệu",
  },
  paras: [
    {
      en: "By using our services, you agree to the collection and use of information in accordance with this Privacy Policy.",
      it: `La tua privacy è importante per noi. Questa Informativa sulla Privacy spiega come raccogliamo, utilizziamo, divulghiamo e proteggiamo le tue informazioni quando visiti il nostro sito web, utilizzi i nostri servizi o interagisci con noi in qualsiasi altro modo.`,
      tr: "Hizmetlerimizi kullanarak, bilgilerin bu Gizlilik Politikası'na uygun şekilde toplanmasını ve kullanılmasını kabul etmiş olursunuz.",
      ro: "Prin utilizarea serviciilor noastre, sunteți de acord cu colectarea și utilizarea informațiilor în conformitate cu această Politică de Confidențialitate.",
      ar: "باستخدامك لخدماتنا، فإنك توافق على جمع المعلومات واستخدامها وفقًا لسياسة الخصوصية هذه.",
      de: "Durch die Nutzung unserer Dienste stimmen Sie der Erhebung und Verwendung von Informationen gemäß dieser Datenschutzrichtlinie zu.",
      es: "Al utilizar nuestros servicios, acepta la recopilación y el uso de información de acuerdo con esta Política de Privacidad.",
      sv: "Genom att använda våra tjänster godkänner du insamling och användning av information i enlighet med denna integritetspolicy.",
      pt: "Ao utilizar nossos serviços, você concorda com a coleta e o uso de informações de acordo com esta Política de Privacidade.",
      fi: "Käyttämällä palvelujamme hyväksyt tietojen keräämisen ja käytön tämän tietosuojakäytännön mukaisesti.",
      pl: "Korzystając z naszych usług, wyrażasz zgodę na zbieranie i wykorzystywanie informacji zgodnie z niniejszą Polityką Prywatności.",
      hu: "Szolgáltatásaink igénybevételével elfogadja az információk gyűjtését és felhasználását a jelen Adatvédelmi Szabályzatnak megfelelően.",
      th: "โดยการใช้บริการของเรา คุณตกลงที่จะให้มีการเก็บรวบรวมและใช้ข้อมูลตามนโยบายความเป็นส่วนตัวนี้",
      ms: "Dengan menggunakan perkhidmatan kami, anda bersetuju dengan pengumpulan dan penggunaan maklumat mengikut Dasar Privasi ini.",
      vi: "Bằng cách sử dụng dịch vụ của chúng tôi, bạn đồng ý với việc thu thập và sử dụng thông tin theo Chính sách Bảo mật này.",
    },
    {
      en: "Your privacy is important to us, and this Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website, use our services, or interact with us in any other way.",
      it: "Utilizzando i nostri servizi, accetti la raccolta e l'utilizzo delle informazioni in conformità con questa Informativa sulla Privacy.",
      tr: "Gizliliğiniz bizim için önemlidir. Bu Gizlilik Politikası, web sitemizi ziyaret ettiğinizde, hizmetlerimizi kullandığınızda veya başka bir şekilde bizimle etkileşimde bulunduğunuzda bilgilerinizi nasıl topladığımızı, kullandığımızı, ifşa ettiğimizi ve koruduğumuzu açıklar.",
      ro: "Confidențialitatea dumneavoastră este importantă pentru noi, iar această Politică de Confidențialitate explică modul în care colectăm, utilizăm, divulgăm și protejăm informațiile dumneavoastră atunci când vizitați site-ul nostru, utilizați serviciile noastre sau interacționați cu noi în orice alt mod.",
      ar: "خصوصيتك مهمة بالنسبة لنا، وتوضح سياسة الخصوصية هذه كيفية جمع معلوماتك واستخدامها والإفصاح عنها وحمايتها عند زيارتك لموقعنا الإلكتروني أو استخدامك لخدماتنا أو تفاعلك معنا بأي طريقة أخرى.",
      de: "Ihre Privatsphäre ist uns wichtig. Diese Datenschutzrichtlinie erläutert, wie wir Ihre Informationen erfassen, verwenden, offenlegen und schützen, wenn Sie unsere Website besuchen, unsere Dienstleistungen nutzen oder anderweitig mit uns interagieren.",
      es: "Su privacidad es importante para nosotros, y esta Política de Privacidad explica cómo recopilamos, usamos, divulgamos y protegemos su información cuando visita nuestro sitio web, utiliza nuestros servicios o interactúa con nosotros de cualquier otra manera.",
      sv: "Din integritet är viktig för oss, och denna integritetspolicy förklarar hur vi samlar in, använder, avslöjar och skyddar din information när du besöker vår webbplats, använder våra tjänster eller interagerar med oss på något annat sätt.",
      pt: "Sua privacidade é importante para nós e esta Política de Privacidade explica como coletamos, usamos, divulgamos e protegemos suas informações quando você visita nosso site, utiliza nossos serviços ou interage conosco de qualquer outra forma.",
      fi: "Yksityisyytesi on meille tärkeää. Tämä tietosuojakäytäntö selittää, kuinka keräämme, käytämme, luovutamme ja suojelemme tietojasi, kun vierailet verkkosivustollamme, käytät palveluitamme tai muuten olet vuorovaikutuksessa kanssamme.",
      pl: "Twoja prywatność jest dla nas ważna. Niniejsza Polityka Prywatności wyjaśnia, w jaki sposób zbieramy, wykorzystujemy, ujawniamy i chronimy Twoje dane, gdy odwiedzasz naszą stronę internetową, korzystasz z naszych usług lub wchodzisz z nami w interakcję w inny sposób.",
      hu: "Fontos számunkra az Ön adatainak védelme. Jelen Adatvédelmi Szabályzat elmagyarázza, hogyan gyűjtjük, használjuk fel, tesszük közzé és védjük az Ön adatait, amikor meglátogatja weboldalunkat, használja szolgáltatásainkat vagy más módon kapcsolatba lép velünk.",
      th: "ความเป็นส่วนตัวของคุณมีความสำคัญต่อเรา นโยบายความเป็นส่วนตัวนี้อธิบายถึงวิธีที่เรารวบรวม ใช้ เปิดเผย และปกป้องข้อมูลของคุณเมื่อคุณเยี่ยมชมเว็บไซต์ของเรา ใช้บริการของเรา หรือโต้ตอบกับเราในรูปแบบอื่น",
      ms: "Privasi anda penting kepada kami. Dasar Privasi ini menerangkan bagaimana kami mengumpul, menggunakan, mendedahkan dan melindungi maklumat anda apabila anda melawat laman web kami, menggunakan perkhidmatan kami atau berinteraksi dengan kami dengan cara lain.",
      vi: "Quyền riêng tư của bạn rất quan trọng đối với chúng tôi, và Chính sách Bảo mật này giải thích cách chúng tôi thu thập, sử dụng, tiết lộ và bảo vệ thông tin của bạn khi bạn truy cập trang web của chúng tôi, sử dụng dịch vụ của chúng tôi hoặc tương tác với chúng tôi bằng bất kỳ cách nào khác.",
    },
  ],
};
---

<section id="section1">
  <div class="container space-y-4">
    <h1 set:html={title[componentProps.lang]} class="text-2xl font-medium" />
    <h2
      set:html={infoSection1.title[componentProps.lang]}
      class="text-lg font-medium"
    />
    {
      infoSection1.paras?.map((para) => (
        <p set:html={para[componentProps.lang]} />
      ))
    }
  </div>
</section>
