---
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: "Privacy Policy",
  it: "Informativa sulla Privacy",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: "",
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
  showcase: "",
};

const infoSection1: {
  title: TranslationsType;
  paras?: TranslationsType[];
  list?: TranslationsType[];
} = {
  title: {
    en: "Introduction",
    it: "Introduzione",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: "",
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
    showcase: "",
  },
  paras: [
    {
      en: "By using our services, you agree to the collection and use of information in accordance with this Privacy Policy.",
      it: `La tua privacy è importante per noi. Questa Informativa sulla Privacy spiega come raccogliamo, utilizziamo, divulghiamo e proteggiamo le tue informazioni quando visiti il nostro sito web, utilizzi i nostri servizi o interagisci con noi in qualsiasi altro modo.`,
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
      showcase: "",
    },
    {
      en: "Your privacy is important to us, and this Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website, use our services, or interact with us in any other way.",
      it: "Utilizzando i nostri servizi, accetti la raccolta e l'utilizzo delle informazioni in conformità con questa Informativa sulla Privacy.",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
      showcase: "",
    },
  ],
};
---

<section id="section1">
  <div class="container space-y-4">
    <h1 set:html={title[componentProps.lang]} class="text-2xl font-medium" />
    <h2
      set:html={infoSection1.title[componentProps.lang]}
      class="text-lg font-medium"
    />
    {
      infoSection1.paras?.map((para) => (
        <p set:html={para[componentProps.lang]} />
      ))
    }
  </div>
</section>
