---
import {
  professionalBlackSection1Icon1,
  professionalBlackSection1Icon2,
  professionalBlackSection1Icon3,
} from "@/constants";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: ``,
  it: `Inizia ad operare in modo Intelligente con 3 semplici passi:`,
  tr: ``,
  ro: ``,
  ar: `اتبع هذه الخطوات الثلاث السهلة وكن تاجرًا خبيرًا:`,
  de: ``,
  es: `Comience de manera inteligente, con 3 pasos simples:`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const bullets: {
  title: TranslationsType;
  svgIcon: string;
}[] = [
  {
    title: {
      en: "",
      it: "Ricevi la tua guida gratuita in PDF",
      tr: "",
      ro: "",
      ar: "احصل على دليل PDF المجاني الخاص بك",
      de: "",
      es: "Reciba su guía gratuita en PDF",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    svgIcon: professionalBlackSection1Icon1,
  },
  {
    title: {
      en: "",
      it: `Ottieni una sessione di formazione gratuita personalizzata con un rappresentante ${componentProps.brandObj.name}`,
      tr: "",
      ro: "",
      ar: "احصل على جلسة تدريب مجانية مع مندوب",
      de: "",
      es: `Obtenga una sesión de capacitación gratuita y personalizada con un representante de ${componentProps.brandObj.name}`,
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    svgIcon: professionalBlackSection1Icon2,
  },
  {
    title: {
      en: "",
      it: `Prova la tua conoscenza sul conto Demo Gratuito`,
      tr: "",
      ro: "",
      ar: "اختبر مهاراتك على حساب تجريبي",
      de: "",
      es: "Pon a prueba tus conocimientos con una cuenta demo gratuita",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    svgIcon: professionalBlackSection1Icon3,
  },
];
---

<section id="section1" class="my-12 lg:mt-0">
  <div class="container flex flex-col gap-6 md:gap-8 lg:gap-12">
    <h2
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 10,
          })
        : title[componentProps.lang]}
      class="text-heading2 text-primary font-extrabold uppercase lg:w-[40ch]"
    />

    <div class="flex flex-col gap-6 md:flex-row lg:gap-8 xl:gap-28">
      {
        bullets.map((bullet) => {
          return (
            <article class="md:basis-1/3">
              <div
                set:html={bullet.svgIcon}
                class="h-24 w-24 [&>svg]:h-full [&>svg]:w-full"
              />
              <p
                set:html={
                  componentProps.features?.includes(Features.showcase)
                    ? showcase({
                        words: 10,
                      })
                    : bullet.title[componentProps.lang]
                }
                class="text-balance"
              />
            </article>
          );
        })
      }
    </div>
  </div>
</section>
