---
import { glossaryLetter_E } from "../../../../globals/translations/glossary";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Button } from "./ui/button";
import Form from "../../../../globals/components/form";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;
---

<section id="section1" class="section1">
  <div class="container flex flex-col items-start justify-start gap-4 py-4">
    <h1>section 1</h1>
    <p>{componentProps.brandObj.name}</p>
    <Button>{glossaryLetter_E.email[componentProps.lang]}</Button>

    <Form
      componentProps={componentProps}
      button={"testing"}
      id="form1"
      layout={2}
    />
    <div class="rounded-md border p-4">
      <pre
        class="text-wrap">const componentProps = {JSON.stringify(componentProps, null, 2)}</pre>
    </div>
  </div>
</section>
