---
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import stampGreenEN_Image from "../assets/stamp-green-en.png";
import tablet from "../assets/tablet.png";
import { Features } from "../../../../globals/types/enums";
import { showcase } from "../../../../globals/features/showcase/text";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: "",
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: `Señales de trading <strong>gratuitas</strong>`,
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const para: TranslationsType = {
  en: ``,
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: `A todo operador le gustaría obtener unos buenos consejos al invertir en los mercados financieros. ${componentProps.brandObj.name} le proporciona señales de trading GRATUITAS fáciles de seguir en tiempo real. Puede acceder a las señales a través de un PC o dispositivo móvil, o recibirlas directamente por SMS.`,
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const stampPic: {
  en: ImageMetadata;
  it: ImageMetadata | null;
  tr: ImageMetadata | null;
  ro: ImageMetadata | null;
  ar: ImageMetadata | null;
  de: ImageMetadata | null;
  es: ImageMetadata | null;
  sv: ImageMetadata | null;
  pt: ImageMetadata | null;
  fi: ImageMetadata | null;
  pl: ImageMetadata | null;
  hu: ImageMetadata | null;
  th: ImageMetadata | null;
  ms: ImageMetadata | null;
  vi: ImageMetadata | null;
  [key: string]: ImageMetadata | null;
} = {
  en: stampGreenEN_Image,
  it: null,
  tr: null,
  ro: null,
  ar: null,
  de: null,
  es: null,
  sv: null,
  pt: null,
  fi: null,
  pl: null,
  hu: null,
  th: null,
  ms: null,
  vi: null,
};
---

<section
  class="relative overflow-hidden border-y-8 border-stone-500 lg:border-0"
>
  <div class="absolute z-10 h-full w-full bg-zinc-800/60 lg:hidden"></div>
  <div class="container flex flex-col gap-4 lg:flex-row lg:justify-end">
    <div class="grid grow place-items-end">
      <Image
        src={tablet}
        alt="Apple Laptop Diploma"
        class="absolute inset-0 z-0 h-full w-full object-cover lg:relative lg:z-10 lg:h-auto"
        widths={[320, 576, 640, 768, 1024, 1280, 1536, tablet.width]}
        sizes={`
          (max-width: 320px) 576px,
          (max-width: 576px) 768px,
          (max-width: 768px) 1024px,
          (max-width: 1024px) 1536px,
          100vw
        `}
      />
    </div>
    <div class="lg:w-[50%] lg:min-w-[50%] xl:w-[60%] xl:min-w-[60%]">
      <div
        class="relative z-20 flex grow flex-col items-center justify-center py-9 text-center lg:z-0 lg:justify-end lg:p-0 lg:text-start"
      >
        <div class="flex max-w-[70ch] flex-col gap-4 lg:py-10">
          <h1
            class="text-heading1 lg:text-foreground leading-tight text-white uppercase"
          >
            <Image
              src={stampPic[componentProps.lang] || stampPic.en}
              alt="Apple Laptop Diploma"
              class="float-end m-2 hidden h-24 w-24 rotate-[20deg] object-fill lg:block"
              widths={[320, 576, 640, 768, 1024, 1280, 1536, stampPic.en.width]}
              sizes={`
                (max-width: 320px) 576px,
                (max-width: 576px) 768px,
                (max-width: 768px) 1024px,
                (max-width: 1024px) 1536px,
                100vw
              `}
            />
            <Fragment
              set:html={componentProps.features?.includes(Features.showcase)
                ? showcase({
                    words: 5,
                    spanClasses: "font-bold",
                  })
                : title[componentProps.lang]}
            />
          </h1>
        </div>
        <div
          class="fullBleedSecondary lg:bg-secondary flex max-w-[70ch] flex-col gap-4 text-white lg:py-10"
        >
          <p class="text-start leading-tight">
            <Image
              src={stampPic[componentProps.lang] || stampPic.en}
              alt="Apple Laptop Diploma"
              class="float-end m-2 h-24 w-24 rotate-[20deg] object-fill lg:hidden"
              widths={[320, 576, 640, 768, 1024, 1280, 1536, stampPic.en.width]}
              sizes={`
                (max-width: 320px) 576px,
                (max-width: 576px) 768px,
                (max-width: 768px) 1024px,
                (max-width: 1024px) 1536px,
                100vw
              `}
            />
            <Fragment
              set:html={componentProps.features?.includes(Features.showcase)
                ? showcase({
                    words: 50,
                    spanClasses: "font-bold",
                    brandName: componentProps.brandObj.name,
                  })
                : para[componentProps.lang]}
            />
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @media (min-width: 1024px) {
    .fullBleedPrimary {
      box-shadow: 0 0 0 100vmax var(--primary);
      clip-path: inset(0 -100vmax);
    }
    .fullBleedSecondary {
      box-shadow: 0 0 0 100vmax var(--secondary);
      clip-path: inset(0 -100vmax);
    }
  }
</style>
