---
import Form from "../../../../globals/components/form";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Fill in the form below:`,
  it: `Compila il modulo qui sotto:`,
  tr: `Aşağıdaki formu doldurun:`,
  ro: `Completează formularul de mai jos:`,
  ar: `املأ النموذج أدناه:`,
  de: `Füllen Sie das untenstehende Formular aus:`,
  es: `Rellena el siguiente formulario:`,
  sv: `Fyll i formuläret nedan:`,
  pt: `Preencha o formulário abaixo:`,
  fi: `Täytä alla oleva lomake:`,
  pl: `Wypełnij poniższy formularz:`,
  hu: `Töltsd ki az alábbi űrlapot:`,
  th: `กรอกแบบฟอร์มด้านล่าง:`,
  ms: `Isi borang di bawah:`,
  vi: `Điền vào biểu mẫu dưới đây:`,
};

const formBtn: TranslationsType = {
  en: `Start now`,
  it: `Inizia ora`,
  tr: `Hemen başla`,
  ro: `Începe acum`,
  ar: `ابدأ الان`,
  de: `Jetzt starten`,
  es: `Empieza ahora`,
  sv: `Börja nu`,
  pt: `Comece agora`,
  fi: `Aloita nyt`,
  pl: `Zacznij teraz`,
  hu: `Kezdd el most`,
  th: `เริ่มเลย`,
  ms: `Mula sekarang`,
  vi: `Bắt đầu ngay`,
};
---

<section
  id="section1"
  class="section1 mb-4 bg-accent md:border-y-8 md:border-y-zinc-800"
>
  <!-- <div
    class="md:bg-secondary md:text-primary-foreground w-full bg-neutral-800 px-4 py-2 text-center text-white md:relative md:-top-7 md:mx-auto md:w-fit md:skew-x-[-30deg] md:px-16 md:py-1 lg:px-28"
  >
    <h2
      class="text-heading2 font-bold md:skew-x-[30deg]"
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 3,
          })
        : title[componentProps.lang]}
    />
  </div> -->

  <div class="container space-y-6 py-6">
    <Form
      componentProps={componentProps}
      button={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 2,
          })
        : formBtn[componentProps.lang]}
      id="section-form"
      layout={2}
    />
  </div>
</section>

<style lang="scss" is:global>
  @reference "../styles/global.css";

  form.registerForm {
    .registerFormInner {
      .form-control {
        label {
          @apply text-white;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select {
          &:hover {
          }
          &:focus {
          }
          &::placeholder {
          }
        }
        button {
        }
      }
    }
  }
</style>
