---
import Form from "../../../../globals/components/form";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: ``,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `ٳبدأ التداول الان`,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const formBtn: TranslationsType = {
  en: ``,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `ابدأ الان`,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section
  id="section1"
  class="section1 bg-neutral-700 md:border-y-8 md:border-y-zinc-800 mb-4"
>
  <div
    class="md:bg-primary md:text-primary-foreground w-full bg-neutral-800 px-4 py-2 text-center text-white md:relative md:-top-7 md:mx-auto md:w-fit md:skew-x-[-30deg] md:px-16 md:py-1 lg:px-28"
  >
    <h2
      class="text-heading2 font-bold md:skew-x-[30deg]"
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 3,
          })
        : title[componentProps.lang]}
    />
  </div>

  <div class="container space-y-6 py-6">
    <Form
      componentProps={componentProps}
      button={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 2,
          })
        : formBtn[componentProps.lang]}
      id="section-form"
      layout={2}
    />
  </div>
</section>

<style lang="scss" is:global>
  @reference "../styles/global.css";

  form.registerForm {
    .registerFormInner {
      .form-control {
        label {
          @apply text-white;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select {
          &:hover {
          }
          &:focus {
          }
          &::placeholder {
          }
        }
        button {
        }
      }
    }
  }
</style>
