---
import Section1Default from "@/components/Section1-default.astro";
import Section1V1 from "@/components/Section1-v1.astro";
import { brandFactory } from "../../../../globals/factory";
import { type ArabTradingProSVGVariation } from "../../../../globals/types/brands/logo";
import type { ComponentProps } from "../../../../globals/types/component-props";
// import { Features } from "../../../../globals/types/enums";
import type {
  LandingPageType,
  LicenseType,
  RegistrationType,
} from "../../../../globals/types/lp-params-type";
import { checkFeatures } from "../../../../globals/utils/check-features";
import Layout from "../layouts/Layout.astro";

const license: LicenseType = "fsa";
const lpType: LandingPageType = "classic";
const features = checkFeatures([
  // Features.readyForMail,
  // Features.outbrain,
  // Features.atheneum,
]);
const registrationType: RegistrationType = "classic";

export interface CustomOptions {
  logoSquare: boolean;
  designVersion?: "default" | "v1";
}

const componentProps: ComponentProps<
  ArabTradingProSVGVariation,
  CustomOptions
> = {
  lang: "it",
  license,
  lpName: "Thank You!",
  brandObj: brandFactory({
    brand: "arabtradingpro",
    license,
    whatsapp: false,
    features,
  }),
  logo: function () {
    return this.brandObj.images.logoSVG.default;
  },
  lpType,
  registrationType,
  customOptions: {
    logoSquare: false,
    designVersion: "default",
  },
  features,
  // fxoroFooter: true,
};
---

<Layout componentProps={componentProps}>
  {
    (componentProps.customOptions?.designVersion === undefined ||
      componentProps.customOptions?.designVersion === "default") && (
      <div class="grid h-full place-items-center">
        <Section1Default componentProps={componentProps} />
      </div>
    )
  }

  {
    componentProps.customOptions?.designVersion === "v1" && (
      <Section1V1 componentProps={componentProps} />
    )
  }
</Layout>
