---
import type { ComponentProps } from "../../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../../globals/types/translations";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: "Privacy Policy",
  it: "Informativa sulla Privacy",
  tr: "Gizlilik Politikası",
  ro: "Politica de Confidențialitate",
  ar: "سياسة الخصوصية",
  de: "Datenschutzrichtlinie",
  es: "Política de Privacidad",
  sv: "Integritetspolicy",
  pt: "Política de Privacidade",
  fi: "Tietosuojakäytäntö",
  pl: "Polityka Prywatności",
  hu: "Adatvédelmi Szabályzat",
  th: "นโยบายความเป็นส่วนตัว",
  ms: "Dasar Privasi",
  vi: "Chính sách Bảo mật",
};

const infoSection1: {
  paras?: TranslationsType[];
  list?: TranslationsType[];
} = {
  paras: [
    {
      en: `This Privacy Policy shall enable the reader (and/or “You”) to receive information regarding the use and processing of data collected during accessing this website. Additionally, the reader shall be informed of the measures taken for protecting such data.`,
      it: `Questa Informativa sulla Privacy consente al lettore (e/o "Te") di ricevere informazioni sull'uso e il trattamento dei dati raccolti durante l'accesso a questo sito web. Inoltre, il lettore sarà informato delle misure adottate per proteggere tali dati.`,
      tr: `Bu Gizlilik Politikası, okuyucunun (ve/veya "Siz") bu web sitesine erişim sırasında toplanan verilerin kullanımı ve işlenmesi hakkında bilgi almasını sağlar. Ayrıca, okuyucuya bu verilerin korunması için alınan önlemler hakkında bilgi verilecektir.`,
      ro: `Această Politică de Confidențialitate îi va permite cititorului (și/sau "Dumneavoastră") să primească informații privind utilizarea și procesarea datelor colectate în timpul accesării acestui site web. În plus, cititorului i se vor comunica măsurile luate pentru protejarea acestor date.`,
      ar: `تُتيح هذه السياسة الخصوصية للقارئ (و/أو "أنت") الحصول على معلومات حول استخدام ومعالجة البيانات التي تم جمعها أثناء الوصول إلى هذا الموقع. بالإضافة إلى ذلك، سيتم إعلام القارئ بالتدابير المتخذة لحماية هذه البيانات.`,
      de: `Diese Datenschutzrichtlinie ermöglicht dem Leser (und/oder "Ihnen"), Informationen über die Nutzung und Verarbeitung von Daten zu erhalten, die beim Zugriff auf diese Website gesammelt werden. Außerdem wird der Leser über die Maßnahmen zum Schutz dieser Daten informiert.`,
      es: `Esta Política de Privacidad permitirá al lector (y/o “Usted”) recibir información sobre el uso y tratamiento de los datos recopilados durante el acceso a este sitio web. Además, el lector será informado de las medidas adoptadas para proteger dichos datos.`,
      sv: `Denna integritetspolicy gör det möjligt för läsaren (och/eller "Du") att få information om användningen och behandlingen av data som samlas in under åtkomst till denna webbplats. Dessutom kommer läsaren att informeras om de vidtagna åtgärderna för att skydda dessa uppgifter.`,
      pt: `Esta Política de Privacidade permitirá ao leitor (e/ou “Você”) receber informações sobre o uso e o processamento dos dados coletados durante o acesso a este site. Além disso, o leitor será informado sobre as medidas adotadas para proteger esses dados.`,
      fi: `Tämä tietosuojakäytäntö antaa lukijalle (ja/tai "Sinulle") tietoa käytöstä ja käsittelystä, kun selaat tätä verkkosivustoa. Lisäksi lukijalle kerrotaan toimenpiteistä, joilla tietoja suojataan.`,
      pl: `Niniejsza Polityka Prywatności umożliwi czytelnikowi (i/lub „Tobie”) uzyskanie informacji na temat wykorzystania i przetwarzania danych zbieranych podczas korzystania z tej strony internetowej. Ponadto czytelnik zostanie poinformowany o środkach podjętych w celu ochrony tych danych.`,
      hu: `Ez az Adatvédelmi Szabályzat lehetővé teszi az olvasó (és/vagy "Ön") számára, hogy információt kapjon az ezen webhely elérése során gyűjtött adatok felhasználásáról és feldolgozásáról. Emellett az olvasót tájékoztatják az adatvédelmi intézkedésekről.`,
      th: `นโยบายความเป็นส่วนตัวนี้จะช่วยให้ผู้อ่าน (และ/หรือ "คุณ") ได้รับข้อมูลเกี่ยวกับการใช้และการประมวลผลข้อมูลที่เก็บรวบรวมระหว่างการเข้าถึงเว็บไซต์นี้ อีกทั้งผู้อ่านจะได้รับแจ้งเกี่ยวกับมาตรการการปกป้องข้อมูลดังกล่าว`,
      ms: `Dasar Privasi ini membolehkan pembaca (dan/atau "Anda") menerima maklumat mengenai penggunaan dan pemprosesan data yang dikumpul semasa mengakses laman web ini. Selain itu, pembaca akan dimaklumkan tentang langkah-langkah yang diambil untuk melindungi data tersebut.`,
      vi: `Chính sách Bảo mật này sẽ giúp người đọc (và/hoặc “Bạn”) nhận được thông tin về việc sử dụng và xử lý dữ liệu thu thập được khi truy cập trang web này. Ngoài ra, người đọc sẽ được thông báo về các biện pháp được thực hiện để bảo vệ dữ liệu đó.`,
    },
    {
      en: `This Policy can be changed / amended at any time without prior notification; therefore, readers are strongly advised to frequently visit this page to keep up to date with any changes.`,
      it: `Questa Politica può essere modificata in qualsiasi momento senza preavviso; pertanto si consiglia vivamente ai lettori di visitare frequentemente questa pagina per rimanere aggiornati su eventuali cambiamenti.`,
      tr: `Bu Politika, önceden bildirimde bulunmadan herhangi bir zamanda değiştirilebilir/değiştirilebilir; bu nedenle okuyucuların herhangi bir değişiklikten haberdar olmak için bu sayfaya sık sık göz atması şiddetle tavsiye edilir.`,
      ro: `Această Politică poate fi modificată în orice moment fără notificare prealabilă; prin urmare, cititorilor li se recomandă insistent să viziteze frecvent această pagină pentru a rămâne la curent cu orice modificări.`,
      ar: `يمكن تغيير/تعديل هذه السياسة في أي وقت دون إشعار مسبق؛ لذلك ينصح القراء بشدة بزيارة هذه الصفحة بشكل متكرر للبقاء على اطلاع بأي تغييرات.`,
      de: `Diese Richtlinie kann jederzeit ohne Vorankündigung geändert/geändert werden; daher wird den Lesern dringend empfohlen, diese Seite regelmäßig zu besuchen, um über Änderungen auf dem Laufenden zu bleiben.`,
      es: `Esta Política puede ser modificada/corregida en cualquier momento sin notificación previa; por lo tanto, se recomienda encarecidamente a los lectores que visiten esta página con frecuencia para mantenerse al día con cualquier cambio.`,
      sv: `Denna policy kan ändras / justeras när som helst utan förvarning; därför uppmanas läsare starkt att regelbundet besöka denna sida för att hålla sig uppdaterade om eventuella ändringar.`,
      pt: `Esta Política pode ser alterada/emendada a qualquer momento sem aviso prévio; portanto, é fortemente recomendável que os leitores visitem esta página com frequência para manter-se atualizados sobre quaisquer alterações.`,
      fi: `Tätä käytäntöä voidaan muuttaa / muokata milloin tahansa ilman ennakkoilmoitusta; siksi lukijoita kehotetaan lämpimästi vierailemaan usein tällä sivulla pysyäkseen ajan tasalla muutoksista.`,
      pl: `Niniejsza Polityka może zostać zmieniona/zmieniona w dowolnym momencie bez wcześniejszego powiadomienia; dlatego zaleca się czytelnikom częste odwiedzanie tej strony, aby być na bieżąco z wszelkimi zmianami.`,
      hu: `Ezt a Szabályzatot bármikor módosíthatják/kiigazíthatják előzetes értesítés nélkül; ezért javasolt az olvasóknak, hogy gyakran látogassák meg ezt az oldalt, hogy mindig naprakészek legyenek az esetleges változásokról.`,
      th: `นโยบายนี้สามารถเปลี่ยนแปลง/แก้ไขได้ตลอดเวลาโดยไม่ต้องแจ้งให้ทราบล่วงหน้า; ดังนั้นจึงขอแนะนำอย่างยิ่งให้ผู้อ่านเข้ามาดูหน้านี้บ่อยๆ เพื่อรับทราบการเปลี่ยนแปลงใดๆ`,
      ms: `Dasar ini boleh diubah / dipinda pada bila-bila masa tanpa notis terlebih dahulu; oleh itu, pembaca sangat disarankan untuk melawat halaman ini dengan kerap bagi memastikan mereka sentiasa mengikuti sebarang perubahan.`,
      vi: `Chính sách này có thể được thay đổi/sửa đổi bất cứ lúc nào mà không cần thông báo trước; vì vậy, độc giả nên ghé thăm trang này thường xuyên để cập nhật bất kỳ thay đổi nào.`,
    },
  ],
};
---

<section id="section1">
  <div class="container space-y-4">
    <h1 set:html={title[componentProps.lang]} class="text-2xl font-medium" />

    {
      infoSection1.paras?.map((para) => (
        <p set:html={para[componentProps.lang]} />
      ))
    }
  </div>
</section>
