---
import type { InfoSection } from "@/types/InfoSection";
import type { ComponentProps } from "../../../../../globals/types/component-props";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const infoSection2: InfoSection = {
  title: {
    en: "Data Collected",
    it: "Dati Raccolti",
    tr: "Toplanan Veriler",
    ro: "Date Colectate",
    ar: "البيانات المجمعة",
    de: "Gesammelte Daten",
    es: "Datos Recopilados",
    sv: "Insamlade Data",
    pt: "Dados Coletados",
    fi: "Kerätyt Tiedot",
    pl: "Zebrane Dane",
    hu: "Gyűjtött Adatok",
    th: "ข้อมูลที่รวบรวม",
    ms: "Data Dikumpul",
    vi: "Dữ liệu Được Thu thập",
  },
  paras: [
    {
      en: "By accessing and making use of this website’s features, the following data is collected:",
      it: "Accedendo e utilizzando le funzionalità di questo sito web, vengono raccolti i seguenti dati:",
      tr: "Bu web sitesine erişerek ve özelliklerini kullanarak, aşağıdaki veriler toplanır:",
      ro: "Prin accesarea și utilizarea funcționalităților acestui site web, următoarele date sunt colectate:",
      ar: "عند الوصول إلى ميزات هذا الموقع واستخدامها، يتم جمع البيانات التالية:",
      de: "Durch den Zugriff und die Nutzung der Funktionen dieser Website werden folgende Daten gesammelt:",
      es: "Al acceder y utilizar las funciones de este sitio web, se recopilan los siguientes datos:",
      sv: "Genom att få tillgång till och använda funktionerna på denna webbplats samlas följande uppgifter in:",
      pt: "Ao acessar e usar os recursos deste site, os seguintes dados são coletados:",
      fi: "Käyttämällä näiden verkkosivuston ominaisuuksia kerätään seuraavat tiedot:",
      pl: "Podczas korzystania z funkcji tej strony internetowej zbierane są następujące dane:",
      hu: "A webhely funkcióinak használatával a következő adatok kerülnek gyűjtésre:",
      th: "เมื่อเข้าถึงและใช้คุณลักษณะของเว็บไซต์นี้ ข้อมูลต่อไปนี้จะถูกเก็บรวบรวม:",
      ms: "Dengan mengakses dan menggunakan ciri laman web ini, data berikut dikumpul:",
      vi: "Bằng cách truy cập và sử dụng các tính năng của trang web này, những dữ liệu sau được thu thập:",
    },
  ],
  list: [
    {
      en: "IP Address & Country",
      it: "Indirizzo IP e Paese",
      tr: "IP Adresi ve Ülke",
      ro: "Adresa IP & Țara",
      ar: "عنوان IP والبلد",
      de: "IP-Adresse & Land",
      es: "Dirección IP y País",
      sv: "IP‑adress & land",
      pt: "Endereço IP e País",
      fi: "IP‑osoite & maa",
      pl: "Adres IP i Kraj",
      hu: "IP-cím és Ország",
      th: "ที่อยู่ IP และประเทศ",
      ms: "Alamat IP & Negara",
      vi: "Địa chỉ IP & Quốc gia",
    },
    {
      en: "Contact Information (Phone Number / Email Address)",
      it: "Informazioni di Contatto (Numero di Telefono / Indirizzo Email)",
      tr: "İletişim Bilgileri (Telefon Numarası / E‑posta Adresi)",
      ro: "Informații de Contact (Număr de Telefon / Adresă de Email)",
      ar: "معلومات الاتصال (رقم الهاتف / عنوان البريد الإلكتروني)",
      de: "Kontaktinformationen (Telefonnummer / E‑Mail‑Adresse)",
      es: "Información de Contacto (Número de Teléfono / Dirección de Email)",
      sv: "Kontaktinformation (Telefonnummer / E‑postadress)",
      pt: "Informações de Contato (Número de Telefone / Endereço de Email)",
      fi: "Yhteystiedot (Puhelinnumero / Sähköpostiosoite)",
      pl: "Informacje Kontaktowe (Numer Telefonu / Adres Email)",
      hu: "Elérhetőségek (Telefonszám / Email cím)",
      th: "ข้อมูลการติดต่อ (หมายเลขโทรศัพท์ / ที่อยู่อีเมล)",
      ms: "Maklumat Perhubungan (Nombor Telefon / Email)",
      vi: "Thông tin Liên hệ (Số điện thoại / Email)",
    },
    {
      en: "First Name and Last Name",
      it: "Nome e Cognome",
      tr: "Ad ve Soyad",
      ro: "Prenume și Nume",
      ar: "الاسم الأول واسم العائلة",
      de: "Vorname und Nachname",
      es: "Nombre y Apellido",
      sv: "Förnamn och Efternamn",
      pt: "Nome e Sobrenome",
      fi: "Etunimi ja Sukunimi",
      pl: "Imię i Nazwisko",
      hu: "Keresztnév és Vezetéknév",
      th: "ชื่อจริงและนามสกุล",
      ms: "Nama Pertama dan Nama Akhir",
      vi: "Tên và Họ",
    },
    {
      en: "Data profile regarding the reader's online behaviour",
      it: "Profilo dati riguardante il comportamento online del lettore",
      tr: "Okuyucunun çevrimiçi davranışıyla ilgili veri profili",
      ro: "Profil de date referitor la comportamentul online al cititorului",
      ar: "ملف بيانات حول سلوك القارئ على الإنترنت",
      de: "Datenprofil zum Onlineverhalten des Lesers",
      es: "Perfil de datos sobre el comportamiento en línea del lector",
      sv: "Dataprofil om läsarens onlinebeteende",
      pt: "Perfil de dados sobre o comportamento online do leitor",
      fi: "Tietoprofiili lukijan verkkokäyttäytymisestä",
      pl: "Profil danych dotyczący zachowania czytelnika online",
      hu: "Adatprofil az olvasó online viselkedéséről",
      th: "โปรไฟล์ข้อมูลเกี่ยวกับพฤติกรรมออนไลน์ของผู้อ่าน",
      ms: "Profil data mengenai tingkah laku dalam talian pembaca",
      vi: "Hồ sơ dữ liệu về hành vi trực tuyến của người đọc",
    },
  ],
};
---

<section id="section2">
  <div class="container space-y-4">
    <h2
      set:html={infoSection2.title[componentProps.lang]}
      class="text-lg font-medium"
    />

    {
      infoSection2.paras?.map((para) => (
        <p set:html={para[componentProps.lang]} class="mb-2" />
      ))
    }

    <ul class="list-inside list-disc">
      {
        infoSection2.list?.map((li) => (
          <li set:html={li[componentProps.lang]} class="mb-2" />
        ))
      }
    </ul>
  </div>
</section>
