---
import type { InfoSection } from "@/types/InfoSection";
import type { ComponentProps } from "../../../../../globals/types/component-props";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const infoSection4: InfoSection = {
  title: {
    en: "Measures taken to safeguard your data",
    it: "Misure adottate per proteggere i tuoi dati",
    tr: "Verilerinizi korumak için alınan önlemler",
    ro: "Măsuri luate pentru a vă proteja datele",
    ar: "التدابير المتخذة لحماية بياناتك",
    de: "Maßnahmen zum Schutz Ihrer Daten",
    es: "Medidas tomadas para proteger sus datos",
    sv: "Åtgärder som vidtas för att skydda dina uppgifter",
    pt: "Medidas tomadas para proteger os seus dados",
    fi: "Toimenpiteet tietojesi suojaamiseksi",
    pl: "Środki podjęte w celu ochrony Twoich danych",
    hu: "Az adatai védelme érdekében tett intézkedések",
    th: "มาตรการที่ดำเนินการเพื่อปกป้องข้อมูลของคุณ",
    ms: "Langkah-langkah yang diambil untuk melindungi data anda",
    vi: "Các biện pháp được thực hiện để bảo vệ dữ liệu của bạn",
  },
  paras: [
    {
      en: "Our commitment is to secure and keep your data confidential. Measures taken ensure that data collected is protected from data theft, unauthorised access and/or disclosure. Data will be disseminated to third parties only if prior consent is obtained.",
      it: "Ci impegniamo a garantire la sicurezza e la riservatezza dei tuoi dati. Le misure adottate assicurano che i dati raccolti siano protetti da furti, accessi non autorizzati e/o divulgazione. I dati saranno condivisi con terze parti solo previo consenso.",
      tr: "Verilerinizin güvenliğini sağlamak ve gizliliğini korumak bizim taahhüdümüzdür. Alınan önlemler, toplanan verilerin veri hırsızlığına, yetkisiz erişime ve/veya ifşaya karşı korunduğunu garanti eder. Veriler, yalnızca önceden izin alınması durumunda üçüncü taraflarla paylaşılır.",
      ro: "Angajamentul nostru este să asigurăm securitatea și confidențialitatea datelor dumneavoastră. Măsurile adoptate garantează că datele colectate sunt protejate împotriva furtului, accesului neautorizat și/sau divulgării. Datele vor fi transmise terților doar cu acordul prealabil.",
      ar: "نلتزم بتأمين بياناتك والحفاظ على سريتها. تضمن التدابير المتخذة حماية البيانات المجمعة من السرقة أو الوصول غير المصرح به و/أو الإفصاح عنها. لن يتم مشاركة البيانات مع أطراف ثالثة إلا بعد الحصول على موافقتك المسبقة.",
      de: "Wir verpflichten uns, Ihre Daten zu sichern und vertraulich zu behandeln. Die getroffenen Maßnahmen stellen sicher, dass gesammelte Daten vor Diebstahl, unbefugtem Zugriff und/oder Offenlegung geschützt sind. Eine Weitergabe an Dritte erfolgt nur mit Ihrer vorherigen Zustimmung.",
      es: "Nuestro compromiso es proteger y mantener la confidencialidad de sus datos. Las medidas tomadas garantizan que los datos recopilados estén protegidos contra el robo, el acceso no autorizado y/o la divulgación. Los datos solo se compartirán con terceros con su consentimiento previo.",
      sv: "Vi förbinder oss att skydda och hålla dina uppgifter konfidentiella. Åtgärder har vidtagits för att säkerställa att insamlade uppgifter skyddas från datastöld, obehörig åtkomst och/eller utlämnande. Uppgifter lämnas endast ut till tredje part efter att samtycke har inhämtats.",
      pt: "O nosso compromisso é garantir a segurança e confidencialidade dos seus dados. As medidas tomadas asseguram que os dados recolhidos estão protegidos contra roubo, acesso não autorizado e/ou divulgação. Os dados só serão partilhados com terceiros com o seu consentimento prévio.",
      fi: "Sitoutumisemme on suojata ja pitää tietosi luottamuksellisina. Käytetyt toimenpiteet varmistavat, että kerätyt tiedot ovat suojattuja tietovarkauksilta, luvattomalta pääsyltä ja/tai paljastamiselta. Tietoja jaetaan kolmansille osapuolille vain, jos suostumus on annettu etukäteen.",
      pl: "Naszym zobowiązaniem jest zabezpieczenie i zachowanie poufności Twoich danych. Podjęte środki zapewniają ochronę zebranych danych przed kradzieżą, nieautoryzowanym dostępem i/lub ujawnieniem. Dane będą przekazywane stronom trzecim wyłącznie po uzyskaniu uprzedniej zgody.",
      hu: "Elkötelezettek vagyunk az Ön adatainak biztonsága és bizalmas kezelése iránt. Az alkalmazott intézkedések biztosítják, hogy a begyűjtött adatok védve legyenek az adatlopás, jogosulatlan hozzáférés és/vagy nyilvánosságra hozatal ellen. Az adatokat csak előzetes hozzájárulással adjuk át harmadik feleknek.",
      th: "เรามุ่งมั่นในการรักษาความปลอดภัยและความลับของข้อมูลของคุณ มาตรการที่ดำเนินการช่วยให้มั่นใจว่าข้อมูลที่รวบรวมจะได้รับการปกป้องจากการโจรกรรม การเข้าถึงโดยไม่ได้รับอนุญาต และ/หรือการเปิดเผย ข้อมูลจะถูกส่งต่อให้บุคคลที่สามต่อเมื่อได้รับความยินยอมล่วงหน้า",
      ms: "Komitmen kami adalah untuk memastikan keselamatan dan kerahsiaan data anda. Langkah-langkah yang diambil memastikan bahawa data yang dikumpulkan dilindungi daripada kecurian data, akses tanpa kebenaran dan/atau pendedahan. Data hanya akan disebarkan kepada pihak ketiga jika persetujuan telah diperoleh terlebih dahulu.",
      vi: "Chúng tôi cam kết bảo mật và giữ kín dữ liệu của bạn. Các biện pháp đã được thực hiện nhằm đảm bảo dữ liệu được thu thập được bảo vệ khỏi hành vi trộm cắp, truy cập trái phép và/hoặc tiết lộ thông tin. Dữ liệu chỉ được chia sẻ với bên thứ ba khi đã có sự đồng ý trước đó.",
    },
  ],
  list: [],
};
---

<section id="section4">
  <div class="container space-y-4">
    <h2
      set:html={infoSection4.title[componentProps.lang]}
      class="text-lg font-medium"
    />

    {
      infoSection4.paras?.map((para) => (
        <p set:html={para[componentProps.lang]} class="mb-2" />
      ))
    }

    <ul class="list-inside list-disc">
      {
        infoSection4.list?.map((li) => (
          <li set:html={li[componentProps.lang]} class="mb-2" />
        ))
      }
    </ul>
  </div>
</section>
