---
import type { InfoSection } from "@/types/InfoSection";
import type { ComponentProps } from "../../../../../globals/types/component-props";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const infoSection6: InfoSection = {
  title: {
    en: "Use of this Website",
    it: "Utilizzo di questo sito web",
    tr: "Bu Web Sitesinin Kullanımı",
    ro: "Utilizarea acestui site web",
    ar: "استخدام هذا الموقع",
    de: "Nutzung dieser Website",
    es: "Uso de este sitio web",
    sv: "Användning av denna webbplats",
    pt: "Uso deste site",
    fi: "Tämän verkkosivuston käyttö",
    pl: "Korzystanie z tej strony internetowej",
    hu: "A weboldal használata",
    th: "การใช้งานเว็บไซต์นี้",
    ms: "Penggunaan Laman Web Ini",
    vi: "Sử dụng trang web này",
  },
  paras: [
    {
      en: "This website can be used by ORO Fintech Limited, for informative and educational purposes and in order to offer to the public training courses and relevant information.",
      it: "Questo sito web può essere utilizzato da ORO Fintech Limited per scopi informativi ed educativi e per offrire al pubblico corsi di formazione e informazioni pertinenti.",
      tr: "Bu web sitesi, ORO Fintech Limited tarafından bilgilendirici ve eğitici amaçlarla ve halka eğitim kursları ve ilgili bilgileri sunmak için kullanılabilir.",
      ro: "Acest site web poate fi utilizat de ORO Fintech Limited în scopuri informative și educative, precum și pentru a oferi publicului cursuri de formare și informații relevante.",
      ar: "يمكن استخدام هذا الموقع من قبل شركة ORO Fintech Limited لأغراض إعلامية وتعليمية ولتقديم الدورات التدريبية والمعلومات ذات الصلة للجمهور.",
      de: "Diese Website kann von ORO Fintech Limited zu Informations- und Bildungszwecken sowie zur Bereitstellung von Schulungskursen und relevanten Informationen für die Öffentlichkeit genutzt werden.",
      es: "Este sitio web puede ser utilizado por ORO Fintech Limited con fines informativos y educativos, y para ofrecer al público cursos de formación e información relevante.",
      sv: "Denna webbplats kan användas av ORO Fintech Limited för informations- och utbildningsändamål samt för att erbjuda allmänheten utbildningskurser och relevant information.",
      pt: "Este site pode ser utilizado pela ORO Fintech Limited para fins informativos e educacionais e para oferecer ao público cursos de formação e informações relevantes.",
      fi: "Tätä verkkosivustoa voi käyttää ORO Fintech Limited tiedottaviin ja koulutuksellisiin tarkoituksiin sekä koulutuskurssien ja asiaankuuluvien tietojen tarjoamiseen yleisölle.",
      pl: "Ta strona internetowa może być wykorzystywana przez ORO Fintech Limited do celów informacyjnych i edukacyjnych oraz do oferowania szkoleń i istotnych informacji dla publiczności.",
      hu: "Ezt a weboldalt az ORO Fintech Limited használhatja tájékoztató és oktatási célokra, valamint nyilvános képzések és releváns információk nyújtására.",
      th: "เว็บไซต์นี้สามารถใช้โดย ORO Fintech Limited เพื่อวัตถุประสงค์ด้านข้อมูลและการศึกษา และเพื่อเสนอหลักสูตรการฝึกอบรมและข้อมูลที่เกี่ยวข้องแก่สาธารณชน",
      ms: "Laman web ini boleh digunakan oleh ORO Fintech Limited untuk tujuan maklumat dan pendidikan serta untuk menawarkan kursus latihan dan maklumat yang berkaitan kepada orang ramai.",
      vi: "Trang web này có thể được ORO Fintech Limited sử dụng cho các mục đích thông tin và giáo dục, cũng như để cung cấp các khóa đào tạo và thông tin liên quan cho công chúng.",
    },
  ],
  list: [],
};
---

<section id="section5">
  <div class="container space-y-4">
    <h2
      set:html={infoSection6.title[componentProps.lang]}
      class="text-lg font-medium"
    />

    {
      infoSection6.paras?.map((para) => (
        <p set:html={para[componentProps.lang]} class="mb-2" />
      ))
    }

    <ul class="list-inside list-disc">
      {
        infoSection6.list?.map((li) => (
          <li set:html={li[componentProps.lang]} class="mb-2" />
        ))
      }
    </ul>
  </div>
</section>
