---
import type { InfoSection } from "@/types/InfoSection";
import type { ComponentProps } from "../../../../../globals/types/component-props";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const infoSection4: InfoSection = {
  title: {
    en: "Measures taken to safeguard your data",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  paras: [
    {
      en: "Our commitment is to secure and keep your data confidential. Measures taken ensure that data collected is protected from data theft, unauthorised access and/or disclosure. Data will be disseminated to third parties only if prior consent is obtained.",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: ``,
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  ],
  list: [],
};
---

<section id="section4">
  <div class="container space-y-4">
    <h2
      set:html={infoSection4.title[componentProps.lang]}
      class="text-lg font-medium"
    />

    {
      infoSection4.paras?.map((para) => (
        <p set:html={para[componentProps.lang]} class="mb-2" />
      ))
    }

    <ul class="list-inside list-disc">
      {
        infoSection4.list?.map((li) => (
          <li set:html={li[componentProps.lang]} class="mb-2" />
        ))
      }
    </ul>
  </div>
</section>
