---
import type { InfoSection } from "@/types/InfoSection";
import type { ComponentProps } from "../../../../../globals/types/component-props";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const infoSection6: InfoSection = {
  title: {
    en: "Third party links/products/ services",
    it: "Link/prodotti/servizi di terze parti",
    tr: "Üçüncü taraf bağlantıları/ürünleri/hizmetleri",
    ro: "Linkuri/produse/servicii ale terților",
    ar: "روابط / منتجات / خدمات الأطراف الثالثة",
    de: "Links/Produkte/Dienstleistungen Dritter",
    es: "Enlaces/productos/servicios de terceros",
    sv: "Länkar/produkter/tjänster från tredje part",
    pt: "Links/produtos/serviços de terceiros",
    fi: "Kolmansien osapuolten linkit/tuotteet/palvelut",
    pl: "Linki/produkty/usługi stron trzecich",
    hu: "Harmadik felek linkjei/termékei/szolgáltatásai",
    th: "ลิงก์/ผลิตภัณฑ์/บริการของบุคคลที่สาม",
    ms: "Pautan/produk/perkhidmatan pihak ketiga",
    vi: "Liên kết/sản phẩm/dịch vụ của bên thứ ba",
  },
  paras: [
    {
      en: "Through our website, we might offer at our discretion, third party products or services. Please make sure to read the Privacy Policy of such third parties.",
      it: "Attraverso il nostro sito web, potremmo offrire, a nostra discrezione, prodotti o servizi di terze parti. Assicurati di leggere l'informativa sulla privacy di tali terze parti.",
      tr: "Web sitemiz aracılığıyla, kendi takdirimize bağlı olarak üçüncü taraf ürünleri veya hizmetleri sunabiliriz. Lütfen bu üçüncü tarafların gizlilik politikasını okuduğunuzdan emin olun.",
      ro: "Prin intermediul site-ului nostru, putem oferi, la discreția noastră, produse sau servicii ale terților. Asigură-te că ai citit politica de confidențialitate a acestor terțe părți.",
      ar: "من خلال موقعنا، قد نقدم، حسب تقديرنا، منتجات أو خدمات لأطراف ثالثة. يرجى التأكد من قراءة سياسة الخصوصية لتلك الأطراف.",
      de: "Über unsere Website können wir nach eigenem Ermessen Produkte oder Dienstleistungen Dritter anbieten. Bitte lesen Sie die Datenschutzerklärung dieser Drittanbieter.",
      es: "A través de nuestro sitio web, podríamos ofrecer, a nuestra discreción, productos o servicios de terceros. Asegúrate de leer la política de privacidad de dichos terceros.",
      sv: "Via vår webbplats kan vi, efter eget gottfinnande, erbjuda produkter eller tjänster från tredje part. Se till att läsa tredje parts integritetspolicy.",
      pt: "Através do nosso site, podemos, a nosso critério, oferecer produtos ou serviços de terceiros. Certifique-se de ler a Política de Privacidade desses terceiros.",
      fi: "Verkkosivustomme kautta saatamme harkintamme mukaan tarjota kolmansien osapuolten tuotteita tai palveluita. Muista lukea näiden kolmansien osapuolten tietosuojakäytäntö.",
      pl: "Za pośrednictwem naszej strony internetowej możemy według własnego uznania oferować produkty lub usługi stron trzecich. Upewnij się, że zapoznałeś się z polityką prywatności tych stron.",
      hu: "Weboldalunkon keresztül saját belátásunk szerint kínálhatunk harmadik felek termékeit vagy szolgáltatásait. Kérjük, olvasd el ezen harmadik felek adatvédelmi irányelveit.",
      th: "ผ่านเว็บไซต์ของเรา เราอาจให้บริการหรือจำหน่ายผลิตภัณฑ์ของบุคคลที่สามตามดุลยพินิจของเรา โปรดตรวจสอบให้แน่ใจว่าคุณได้อ่านนโยบายความเป็นส่วนตัวของบุคคลที่สามเหล่านั้นแล้ว",
      ms: "Melalui laman web kami, kami boleh, mengikut budi bicara kami, menawarkan produk atau perkhidmatan pihak ketiga. Pastikan anda membaca Dasar Privasi pihak ketiga tersebut.",
      vi: "Thông qua trang web của chúng tôi, chúng tôi có thể, theo quyết định của mình, cung cấp sản phẩm hoặc dịch vụ của bên thứ ba. Vui lòng đảm bảo đọc Chính sách bảo mật của bên thứ ba đó.",
    },
    {
      en: "No responsibility or liability for the content and activities of these third parties can be imposed on us.",
      it: "Non ci assumiamo alcuna responsabilità per i contenuti e le attività di tali terze parti.",
      tr: "Bu üçüncü tarafların içeriklerinden ve faaliyetlerinden dolayı hiçbir sorumluluk tarafımıza yüklenemez.",
      ro: "Nu ne asumăm nicio responsabilitate pentru conținutul și activitățile acestor terți.",
      ar: "لا يمكن تحميلنا أي مسؤولية عن محتوى أو أنشطة هذه الأطراف الثالثة.",
      de: "Für Inhalte und Aktivitäten dieser Drittanbieter übernehmen wir keine Verantwortung oder Haftung.",
      es: "No asumimos ninguna responsabilidad por el contenido y las actividades de estos terceros.",
      sv: "Vi tar inget ansvar för innehållet eller aktiviteterna hos dessa tredje parter.",
      pt: "Não nos responsabilizamos pelo conteúdo e pelas atividades desses terceiros.",
      fi: "Emme ota vastuuta näiden kolmansien osapuolten sisällöstä tai toiminnasta.",
      pl: "Nie ponosimy żadnej odpowiedzialności za treści i działania tych stron trzecich.",
      hu: "Nem vállalunk felelősséget ezen harmadik felek tartalmáért és tevékenységeiért.",
      th: "เราไม่รับผิดชอบต่อเนื้อหาและกิจกรรมของบุคคลที่สามเหล่านี้",
      ms: "Kami tidak bertanggungjawab ke atas kandungan dan aktiviti pihak ketiga tersebut.",
      vi: "Chúng tôi không chịu trách nhiệm cho nội dung và hoạt động của các bên thứ ba đó.",
    },
  ],
  list: [],
};
---

<section id="section5">
  <div class="container space-y-4">
    <h2
      set:html={infoSection6.title[componentProps.lang]}
      class="text-lg font-medium"
    />

    {
      infoSection6.paras?.map((para) => (
        <p set:html={para[componentProps.lang]} class="mb-2" />
      ))
    }

    <ul class="list-inside list-disc">
      {
        infoSection6.list?.map((li) => (
          <li set:html={li[componentProps.lang]} class="mb-2" />
        ))
      }
    </ul>
  </div>
</section>
