---
import { SPACING_HERO } from "@/constants/spacing";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import handPhone from "../assets/hand-with-phone.png";
import { showcase } from "../../../../globals/features/showcase/text";
import { Features } from "../../../../globals/types/enums";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Why crypto signals matter`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: `¿Por qué importan las señales cripto?`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const paras: TranslationsType[] = [
  {
    en: `Cryptocurrencies are the most volatile and profitable digital assets available today. But volatility without direction is risky. That’s where trading signals come in. Our expert-backed crypto signals help you navigate the market with clarity — giving you entry, exit, and risk management strategies in real time. `,
    it: ``,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: `Las criptomonedas son los activos digitales más volátiles y rentables disponibles hoy. Pero la volatilidad sin dirección es riesgosa. Ahí es donde entran en juego las señales de trading. Nuestras señales cripto, respaldadas por expertos, te ayudan a navegar el mercado con claridad — ofreciéndote estrategias de entrada, salida y gestión de riesgo en tiempo real.`,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  {
    en: `Whether you're just starting out or refining your strategy, our signals offer a valuable edge in fast-moving markets.`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: `Ya sea que estés comenzando o perfeccionando tu estrategia, nuestras señales te ofrecen una ventaja valiosa en mercados de rápido movimiento.`,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
];
---

<section id="section1" class={`section1 mt-[${SPACING_HERO}px] xl:mt-[72px]`}>
  <div class="py-custom-spacing container flex flex-wrap space-y-6">
    <div class="gap-custom-spacing flex flex-col justify-center lg:w-7/12">
      <h2
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 5,
            })
          : title[componentProps.lang]}
        class="text-heading2 font-black uppercase"
      />
      {
        paras.map((p, index) => (
          <p
            set:html={
              componentProps.features?.includes(Features.showcase)
                ? showcase({
                    words: 30,
                  })
                : p[componentProps.lang]
            }
            class={cn(`text-para-lead`, {
              "font-bold": index === 1,
            })}
          />
        ))
      }
    </div>
    <div class="grid w-full place-items-center lg:w-5/12">
      <Image
        src={handPhone}
        alt="50%"
        class={cn(
          "max-w-[320px] w-full  lg:max-w-none",
          componentProps.lang === "ar" ? "" : "",
        )}
        widths={[320, 576, 640, 768, 1024, 1280, 1536, handPhone.width]}
        sizes={`
          (max-width: 320px) 273px,
          (max-width: 768px) 320px,
          (max-width: 1081px) 431px,
          (max-width: 1470px) 520px,
          520px
        `}
      />
    </div>
  </div>
</section>
