---
import BankTransfer from "../../../../globals/components/logos/misc/BankTransfer/BankTransfer.astro";
import MasterCard from "../../../../globals/components/logos/misc/MasterCard/MasterCard.astro";
import Neteller from "../../../../globals/components/logos/misc/Neteller/Neteller.astro";
import PostePay from "../../../../globals/components/logos/misc/PostePay/PostePay.astro";
import Skrill from "../../../../globals/components/logos/misc/Skrill/Skrill.astro";
import SSLSecured from "../../../../globals/components/logos/misc/SSLSecured/SSLSecured.astro";
import Visa from "../../../../globals/components/logos/misc/Visa/Visa.astro";
import Webmoney from "../../../../globals/components/logos/misc/Webmoney/Webmoney.astro";
import type { ComponentProps } from "../../../../globals/types/component-props";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;
componentProps;
---

<section
  id="section2"
  class="section1 border-secondary-foreground mb-8 border-t border-b py-8 text-stone-700"
>
  <div class="container flex flex-wrap items-center justify-around gap-4">
    <Neteller class="h-auto w-full max-w-[70px] md:max-w-[156px]" />
    <Skrill class="h-auto w-full max-w-[70px] md:max-w-[112px]" />
    <BankTransfer class="h-auto w-full max-w-[70px] md:max-w-[124px]" />
    <MasterCard class="h-auto w-full max-w-[70px] md:max-w-[87px]" />
    <PostePay class="h-auto w-full max-w-[70px] md:max-w-[132px]" />
    <SSLSecured class="h-auto w-full max-w-[70px] md:max-w-[137px]" />
    <Visa class="h-auto w-full max-w-[70px] md:max-w-[102px]" />
    <Webmoney class="h-auto w-full max-w-[70px] md:max-w-[180px]" />
  </div>
</section>
