---
import { Image } from "astro:assets";
import image from "../assets/guy.png";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Thank you for your <span class="text-primary">registration!</span>`,
  it: `Grazie per la tua <span class="text-primary">registrazione!</span>`,
  tr: ``,
  ro: `Mulțumim pentru <span class="text-primary">înregistrare!</span>`,
  ar: ``,
  de: ``,
  es: `¡Gracias por su <span class="text-primary">registro!</span>`,
  sv: `Tack för att du <span class="text-primary">registrerar!</span>`,
  pt: ``,
  fi: ``,
  pl: `Dziękujemy za <span class="text-primary">rejestrację!</span>`,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
  showcase: "",
};

const para: TranslationsType = {
  en: `Your interest means a great deal, and we're excited to connect with you soon. We're committed to providing you with personalized attention and information you might need, so expect a call from our team within the next 24 to 48 working hours.`,
  it: `Il tuo interesse è molto importante e siamo entusiasti di poterti contattare presto. Ci impegniamo a fornirti attenzione personalizzata e le informazioni di cui potresti aver bisogno, quindi aspettati una chiamata dal nostro team entro le prossime 24-48 ore lavorative.`,
  tr: ``,
  ro: `Interesul dvs. înseamnă foarte mult și suntem încântați să ne conectăm în curând. Ne angajăm să vă oferim atenție personalizată și informații de care ați putea avea nevoie, așa că așteptați-vă la un apel din partea echipei noastre în următoarele 24 până la 48 de ore lucrătoare.`,
  ar: ``,
  de: ``,
  es: `Su interés significa mucho y estamos entusiasmados de conectarnos con usted pronto. Estamos comprometidos a brindarle la atención personalizada y la información que pueda necesitar, así que espere una llamada de nuestro equipo dentro de las próximas 24 a 48 horas hábiles.`,
  sv: `Vi uppskattar ditt intresse och ser fram emot att kontakta dig snart. Vi kommer att se till att förse dig med all nödvändig information och svara på dina frågor, så förvänta dig ett samtal från vårt team inom de närmaste 24-48 timmarna.`,
  pt: ``,
  fi: ``,
  pl: `Twoje zainteresowanie wiele dla nas znaczy i cieszymy się, że wkrótce będziemy mogli się z Tobą skontaktować. Zależy nam na zapewnieniu spersonalizowanej uwagi i informacji, których możesz potrzebować, więc spodziewaj się telefonu od naszego zespołu w ciągu najbliższych 24 do 48 godzin roboczych.`,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
  showcase: "",
};
---

<section id="section1" class="py-4 lg:py-10">
  <div class="container grid place-items-center gap-8">
    <div
      class="flex grow flex-col items-center justify-center gap-4 text-center lg:gap-8"
    >
      <h1
        class="text-heading1 leading-tight font-black uppercase"
        set:html={title[componentProps.lang]}
      />
      <p class="text-para-lead" set:html={para[componentProps.lang]} />
    </div>
    <div class="relative grid place-items-center lg:w-[400px] lg:min-w-[400px]">
      <Image
        src={image}
        alt="Introduction to trading"
        class="relative z-10 w-full max-w-[350px] lg:mt-8"
        widths={[320, 576, image.width]}
        loading="eager"
        sizes={`
          (max-width: 320px) 270px,
          350px
        `}
      />

      <!-- <svg width="389" height="362" viewBox="0 0 389 362" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute z-0 hidden lg:block right-3 h-auto w-[250px] text-secondary">
        <path
          d="M157.29 0C180.78 0.31 201.14 9.42 220.74 20.9C259.42 43.55 291.4 74.19 322.19 106.19C341.71 126.48 359.31 148.3 372.94 173.08C382.84 191.06 390.34 209.97 388.32 230.87C387.31 241.32 384.99 252.13 380.8 261.69C368.32 290.19 350.14 314.96 326.59 335.34C300.95 357.53 270.61 363.88 237.44 360.21C177.19 353.54 120.52 334.22 64.83 311.58C49.77 305.46 35.86 296.93 24.02 285.44C4.59999 266.61 -1.9 242.91 0.819999 217.08C7.47 154.08 33.22 98.66 71.49 48.91C88.03 27.42 108.4 10.14 135.61 3.26C142.67 1.5 150.06 1.06 157.29 0Z"
          fill="currentColor"></path>
      </svg> -->
    </div>
  </div>
</section>
