---
import { ICON_1, ICON_2, ICON_3, ICON_4 } from "@/constants/icons";
import { cn } from "@/lib/utils";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Why trade with ai-powered signals?`,
  it: "",
  tr: "",
  ro: "",
  ar: ``,
  de: "",
  es: `¿Por qué operar con señales impulsadas por ia?`,
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const bullets: {
  icon: string;
  label: TranslationsType;
}[] = [
  {
    icon: ICON_1,
    label: {
      en: `Real-time, data-driven trade alerts`,
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: `Alertas de trading en tiempo real basadas en datos`,
      sv: ``,
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  {
    icon: ICON_2,
    label: {
      en: `Proven strategies backed by AI analytics`,
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: `Estrategias probadas respaldadas por análisis de IA`,
      sv: ``,
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  {
    icon: ICON_3,
    label: {
      en: `Easy to follow, even for beginners`,
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: `Fáciles de seguir, incluso para principiantes`,
      sv: ``,
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  {
    icon: ICON_4,
    label: {
      en: `Constantly improving with market changes`,
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: `Mejoran constantemente con los cambios del mercado`,
      sv: ``,
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
];
---

<section id="section1" class="section1 pt-custom-spacing overflow-clip">
  <div class="space-y-custom-spacing container">
    <h2
      set:html={title[componentProps.lang]}
      class="text-heading2 text-center font-black text-balance uppercase"
    />
    <div class="flex flex-wrap items-stretch gap-y-4">
      {
        bullets.map((bullet, index) => {
          const addPseudoBefore = index === 0;
          const addPseudoAfter = index === bullets.length - 1;

          return (
            <div class="flex grow flex-col gap-4">
              <div
                set:html={bullet.icon}
                class="grid place-items-center [&_svg]:size-16 min-md:[&_svg]:size-24"
              />
              <div
                class={cn(
                  "min-lg:bg-primary min-lg:text-primary-foreground relative grid h-full place-items-center p-2",
                  addPseudoBefore &&
                    "min-lg:before:bg-primary min-lg:before:absolute min-lg:before:-start-[10000px] min-lg:before:top-0 min-lg:before:ml-0.5 min-lg:before:h-full min-lg:before:w-[10000px] min-lg:before:content-['']",
                  addPseudoAfter &&
                    "min-lg:after:bg-primary min-lg:after:absolute min-lg:after:-end-[10000px] min-lg:after:top-0 min-lg:after:ml-0.5 min-lg:after:h-full min-lg:after:w-[10000px] min-lg:after:content-['']",
                )}
              >
                <p
                  set:html={bullet.label[componentProps.lang]}
                  class="max-w-[20ch] text-center text-balance"
                />
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
