---
import { ICON1, ICON2, ICON3 } from "@/constants/icons";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";
import { Features } from "../../../../globals/types/enums";
import { showcase } from "../../../../globals/features/showcase/text";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: {
      en: "Join thousands of traders who started with gold and discovered more.",
      it: ``,
      tr: "",
      ro: "",
      ar: `انضم إلى آلاف المتداولين الذين بدأوا بالذهب واكتشفوا المزيد.`,
      de: "",
      es: `Únete a miles de traders que comenzaron con oro y descubrieron mucho más.`,
      sv: ``,
      pt: ``,
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: "",
      it: ``,
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: ``,
      sv: ``,
      pt: ``,
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);

const bullets: {
  icon: string;
  label: TranslationsType;
}[] = [
  {
    icon: ICON1,
    label: textBy(
      {
        default: {
          en: "Trusted by over 1,000,000 traders worldwide",
          it: ``,
          tr: "",
          ro: "",
          ar: `موثوق به من قبل أكثر من 1,000,000 متداول حول العالم`,
          de: "",
          es: `Con la confianza de más de 1.000.000 de traders en todo el mundo`,
          sv: ``,
          pt: ``,
          fi: "",
          pl: ``,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: ``,
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: ``,
          sv: ``,
          pt: ``,
          fi: "",
          pl: ``,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
  },
  {
    icon: ICON2,
    label: textBy(
      {
        default: {
          en: "Fully regulated & secure platform",
          it: ``,
          tr: "",
          ro: "",
          ar: `منصة آمنة ومنظمة بالكامل`,
          de: "",
          es: `Plataforma totalmente regulada y segura`,
          sv: ``,
          pt: ``,
          fi: "",
          pl: ``,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: ``,
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: ``,
          sv: ``,
          pt: ``,
          fi: "",
          pl: ``,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
  },
  {
    icon: ICON3,
    label: textBy(
      {
        default: {
          en: "Over 13 years of market expertise",
          it: ``,
          tr: "",
          ro: "",
          ar: `أكثر من 13 عامًا من الخبرة في الأسواق`,
          de: "",
          es: `Más de 13 años de experiencia en los mercados`,
          sv: ``,
          pt: ``,
          fi: "",
          pl: ``,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: ``,
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: ``,
          sv: ``,
          pt: ``,
          fi: "",
          pl: ``,
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
  },
];
---

<section id="section1" class="section1 mt-4 lg:mt-6">
  <div class="bg-primary text-primary-foreground">
    <div class="container">
      <h2
        class="text-para-lead py-4 text-center lg:py-6"
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 5,
            })
          : title[componentProps.lang]}
      />
    </div>
  </div>
  <div
    class="py-custom-spacing gap-y-custom-spacing container flex flex-wrap items-stretch justify-around"
  >
    {
      bullets.map((bullet) => (
        <div class="flex flex-col items-center gap-1 px-2 md:gap-2">
          <div
            set:html={bullet.icon}
            class="size-[clamp(4.6875rem,_4.375rem_+_1.5625vw,_5.625rem)] [&_svg]:size-full"
          />
          <p
            set:html={
              componentProps.features?.includes(Features.showcase)
                ? showcase({
                    words: 5,
                  })
                : bullet.label[componentProps.lang]
            }
            class="text-para-lead my-auto max-w-[20ch] text-center text-balance"
          />
        </div>
      ))
    }
  </div>
</section>
