---
import { icon1 } from "@/constants/icon1";
import { icon2 } from "@/constants/icon2";
import { icon3 } from "@/constants/icon3";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import { Features } from "../../../../globals/types/enums";
import { showcase } from "../../../../globals/features/showcase/text";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Level up your trading game`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const articles: {
  icon: string;
  title: TranslationsType;
  para: TranslationsType;
}[] = [
  {
    icon: icon1,
    title: {
      en: `Sign up`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `Fill out the form on this page to begin your journey with ${componentProps.brandObj.name}.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    icon: icon2,
    title: {
      en: `1-on-1 Guidance`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `Chat with a dedicated officer to define your personal trading goals.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    icon: icon3,
    title: {
      en: `Custom Tools & Resources`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `Gain access to expert tools, tips, and ongoing support tailored for you.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
];
---

<section id="section1" class="section1 space-y-ySpacing py-ySpacing">
  <div class="container">
    <h2
      class="text-heading2 leading-heading2 font-black uppercase sm:text-center"
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 5,
          })
        : title[componentProps.lang]}
    />
  </div>
  <div
    class="gap-custom container flex flex-col sm:text-center md:flex-row md:justify-between"
  >
    {
      articles.map((article) => (
        <article class="flex flex-col gap-2">
          <div
            class="size-22 self-center lg:size-32 [&>svg]:h-full [&>svg]:w-full"
            set:html={article.icon}
          />
          <h3
            class="text-heading3 leading-heading3 text-primary font-black"
            set:html={
              componentProps.features?.includes(Features.showcase)
                ? showcase({
                    words: 2,
                  })
                : article.title[componentProps.lang]
            }
          />
          <p
            class="text-para-lead text-balance lg:max-w-[25ch]"
            set:html={
              componentProps.features?.includes(Features.showcase)
                ? showcase({
                    words: 10,
                  })
                : article.para[componentProps.lang]
            }
          />
        </article>
      ))
    }
  </div>
</section>
