---
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import { Button } from "./ui/button";
import { showcase } from "../../../../globals/features/showcase/text";
import { Features } from "../../../../globals/types/enums";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Endless opportunities await`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const paras: TranslationsType[] = [
  {
    en: `Simply complete the form to connect with one of our team members and set your trading goals in motion. We'll get back to you within 2 business days — guaranteed.`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: ``,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
];

const buttonLabel: TranslationsType = {
  en: `Contact us`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section
  id="section2"
  class="section2 bg-primary py-ySpacing text-primary-foreground sm:text-center"
>
  <div class="gap-custom container flex flex-col sm:items-center">
    <h2
      class="text-heading2 leading-heading2 text-secondary font-black uppercase"
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 5,
          })
        : title[componentProps.lang]}
    />

    {
      paras.map((para) => (
        <p
          class="text-para-lead max-w-[70ch]"
          set:html={
            componentProps.features?.includes(Features.showcase)
              ? showcase({
                  words: 15,
                })
              : para[componentProps.lang]
          }
        />
      ))
    }

    <ButtonDisclaimer
      componentProps={componentProps}
      disclaimer={{
        active: false,
      }}
    >
      <Button
        variant={"white"}
        className={"js-modal-trigger w-full cursor-pointer p-6 px-16 font-black uppercase"}
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 2,
            })
          : buttonLabel[componentProps.lang]}
      />
    </ButtonDisclaimer>
  </div>
</section>
