---


---

<div class="js-modal backdrop" data-state="closed" >
  <div class="modal" style={{borderRadius: 'var(--radius)'}}>
    <slot />
  </div>
</div>

<style>
.backdrop {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: none;
  background: oklch(from #000 l c h / 0.8);
}

.modal {
  position: fixed;
  inset: 50% auto auto 50%;
  z-index: 50;
  width: 100%;
  max-width: 32rem;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--background);
  padding: 24px;
}
</style>
