---
import { Button } from "@/components/ui/button";
import { ButtonDisclaimer } from "../../../../../globals/components/button-disclaimer";
import { showcase } from "../../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../../globals/types/component-props";
import { Features } from "../../../../../globals/types/enums";
import type { TranslationsType } from "../../../../../globals/types/translations";
import { textBy } from "../../../../../globals/utils/text-by";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const formBtn: TranslationsType = textBy(
  {
    default: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: `Börja nu`,
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    short: {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: `Más información`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  "version",
  componentProps.customOptions,
);
---

<section id="section4" class="relative py-10">
  <div
    class="relative z-10 container flex flex-col items-center justify-center gap-4 text-center"
  >
    <ButtonDisclaimer
      componentProps={componentProps}
      client:load
      disclaimer={{
        active: false,
      }}
    >
      <Button
        variant="secondary"
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 2,
            })
          : formBtn[componentProps.lang]}
        className="hover:bg-primary hover:text-primary-foreground h-auto w-auto px-8 py-3 font-bold"
        id="s4-btn"
      />
    </ButtonDisclaimer>
  </div>
</section>

<style lang="scss"></style>

<script lang="ts">
  const form = document.querySelector("form");
  const button = document.getElementById("s4-btn");

  button.addEventListener("click", () => {
    form.scrollIntoView({
      behavior: "smooth",
    });
  });
</script>
